<div class="signup" id='signup'>
    <!--{if !empty($ckIn) }-->
    <h4><center>
    <!--{if $ckIn['verified'] == 4}-->
            你已成功报名此次活动！
    <!--{elseif $ckIn['verified'] == 5}-->
            你已选择了下次参加活动。
    <!--{else}-->
            你的报名尚未得到确认。
    <!--{/if}-->
    </center></h4>
<!--{else}-->
<h4>我要报名</h4>
<!--{if $joinPerm==1}-->
<form id="signupform" name="signupform" method="POST" action="party.php?act=party_sign">
<input type="hidden" name="formhash" value="{FORMHASH}" />
<input type="hidden" name="tid" value="$tid" />
<input type="hidden" name="fid" value="$fid" />
<input type="hidden" name="extra1" value="$extra" />
<!--{/if}-->
<table cellspacing="0" cellpadding="0">	
	<!--{if $discuz_uid}-->
	<thead>
		<tr>
			<th width='24%' style='padding-left:12px;'>用户名：</th>
            <td>$discuz_user <!--[<a href="logging.php?action=logout&amp;formhash={FORMHASH}">退出登录</a>]--></td>
		</tr>
	</thead>
	<!--{/if}-->
	<tr>
		<th width='24%' style='padding-left:12px;'>联系电话：(必填，只有召集者可见) <font color='red'>(*)</font></th>
		<td><input TYPE="text" class='txt' name="usermobile" size="36" maxlength="20" VALUE="" onkeyup="value=value.replace(/[^0123456789-]/g,'')"></td>
	</tr>
	<tr>
		<th style='padding-left:12px;'>个人说明：(200字以内) <font color='red'>(*)</font><br /><span style="color:green">提示：本部分内容为公开信息，请勿输入身份证号码和手机号等个人信息。</span></th>
		<td><textarea name="usrexplain" ROWS="4" COLS="80"></textarea></td>
    </tr>
	<!--{if !empty($ex_workers)}-->
	<tr>
		<th style='padding-left:12px;'>选择分工 <font color='red'>(*)</font></th>
        <td><!-- {loop $ex_workers $k $v}--><input name="usertask" type="radio" value="$v" />$v<!-- {/loop}--></td>
	</tr>
	<!--{/if}-->

	<!--{if !empty($party['marks'])}-->
	<tr>
		<th style='padding-left:12px;' height='30'>备注选项 <font color='red'>(*)</font></th>
		<td><!--{loop $ex_marks $k $v}--><input name="marks" type="radio" value="$k"/>$v<!--{/loop}--></td>
	</tr>
	<!--{/if}-->
	<!--{if $party['followed']}-->
	<tr>
		<th style='padding-left:12px;' height='30'>随行人员(加几) <font color='red'>(*)</font></th>
		<td><input type='text' name='followed' class='txt' onkeyup="value=value.replace(/[^0123456789-]/g,'')" value='0' maxlength='4' size='4'> <font color='#666666'>请输入数字</font></td>
	</tr>
	<!--{/if}-->
    <!--{if $sc_data['signfield'] && $sc_data['signform']==1}-->
    <!--
		<tr>
			<th colspan='2' style='padding-left:12px;' height='30' bgcolor='#f1f1f1'>以下部分仅限于召集人可见</th>
        </tr>
    -->
		<!--{loop $sc_data['signfield'] $v}-->
		<tr>
			<th style='padding-left:12px;' height='30'>$v[name] <!--{if $v['must']=='on'}--><font color='red'>(*)</font><!--{/if}--></th>
			<td>$v[html]</td>
		</tr>
		<!--{/loop}-->
	<!--{/if}-->
	<tr>
		<th></th>
		<td>
		<!--{if !$discuz_uid}-->
			<p id="notice"><IMG SRC="images/default/ico_mytip.gif" align="absmiddle">您当前的身份是游客，请[<a href="logging.php?action=login">登陆</a>] 后进行报名。</p>
		<!--{else}-->
			<!--{if $party['closed']}-->
				<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> 本次活动已结束，不再接受报名。^_^</p>
			<!--{else}-->
				<!--{if $passPartyers_count + $passFolloweder >= $party['number'] && $party['number']}-->
					<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> 本次活动参加人数已达上限，不再接受报名。^_^ 请下次赶早</p>
				<!--{elseif $myGender!=$party['gender'] && $party['gender']}-->
					<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> 不好意思，此次活动有性别要求。^_^ <a href="memcp.php" target="_blank">(点此进行性别设置)</a></p>
				<!--{elseif $sc_data['bgroup'] && !in_array($groupid,$sc_data['bgroup'])}-->
					<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> 不好意思，您所在的用户组不能参与活动。^_^</p>
				<!--{else}-->
					<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> <strong>免责声明：</strong>本活动为非赢利目的网	 友活动，活动中可能存在意外的因素，参加者纯属自愿行为，一旦报名参加，则视为愿意自行承担活动中可能出现的意外伤害及经济损失，组织者及其他成员概不承担任何法律或者经济上的责任，请慎重报名参加。</p>
				<!--{/if}-->
			<!--{/if}-->
		<!--{/if}-->
		</td>
	</tr>
	<!--{if $joinPerm==1}-->
	<tr>
		<th></th>
		<td>
			<input type="submit" name="signupsubmit" class="postsubmit" value="同意以上声明并确认报名" />
			<input TYPE="button" class="postsubmit" onclick="alert('必须同意活动免责声明才可报名。');" value="不同意以上免责声明" />
		</td>
	</tr>
	<!--{/if}-->
	<tr>
		<th></th>
		<td>&nbsp;</td>
	</tr>
</table>
<!--{if $joinPerm==1}--></form><!--{/if}-->
	<!--{/if}-->
</div>
