{subtemplate header}

<div id="nav"><a href="$indexname">$bbname</a> &raquo; <a href="viewthread.php?tid=$tid">$party[subject]</a></div>

<div id="wrap" class="wrap s_clear">
	<div class="main">
		<div class="content specialpost">
			<h1><font color="blue">下次参加</font></h1>
			<form method="post" action="party.php?act=operate&for=nexttime&tid=$tid&pid=$pid">
			<table cellspacing="0" cellpadding="0" class="formtable">
				<tr>
					<th><b>说明理由：</b><font color="red">(*)</font><br />(200字以内)</th>
					<td><textarea name="message" rows="4" cols="80"></textarea></td>
				</tr>
				<tr>
					<th>&nbsp;</th>
					<td><input type="submit" name='partysubmit' value="确认下次再参加"/></td>
				</tr>		
			</table>
			</form>
		</div>
	</div>
</div>

{subtemplate footer}