{subtemplate header}

<script type="text/javascript" src="include/js/calendar.js?{VERHASH}" reload="1"></script>

<div id="nav"><a href="$indexname">$bbname</a> &raquo; <a>完善活动资料</a> &raquo; <a href="viewthread.php?tid=$tid" target="_blank">$tinfo[subject]</a></div>

<form method="post" action="$thisrc?act=post&fid=$fid&tid=$tid">
<div id="wrap" class="wrap s_clear">
	<div class="main">
		<div class="content specialpost">
			<h1><font color="blue">$tinfo[subject]</font></h1>
			<table cellspacing="0" cellpadding="0" class="formtable">

				<tr>
					<th><b>发起人参与？</b><font color="red">(*)</font></th>
					<td>
						<input name="isjoin" type="radio" value="1" {if $party[isjoin]==1 || !isset($party[isjoin])}checked{/if}/>参与活动
						<input name="isjoin" type="radio" value="0" {if $party[isjoin]==0 && isset($party[isjoin])}checked{/if}/>不参与活动
					</td>
				</tr>

				<tr>
					<th><b>活动标题图片</b></th>
					<td><input type="text" name='picurl' class="txt" value="$party[picurl]" /></td>
				</tr>

				<tr>
					<th><b>活动时间</b><font color="red">(*)</font></th>
					<td><input type="text" onclick="showcalendar(event, this, true)" autocomplete="off" name="showtime" style='width:120px;' class="txt" value="$party[showtime]" /></td>
				</tr>

				<tr>
					<th><b>报名时间</b><font color="red">(*)</font></th>
					<td><input type="text" onclick="showcalendar(event, this, true)" autocomplete="off" name="starttimefrom" style='width:120px;' class="txt" value="$party[starttimefrom]" /> <b>~</b> <input type="text" autocomplete="off" onclick="showcalendar(event, this, true)" name="starttimeto" class="txt" value="$party[starttimeto]" style='width:120px;'/></td>
				</tr>

				<tr>
					<th><b>活动类型</b><font color="red">(*)</font></th>
					<td><!--{if $sc_data['classes']}--><!--{eval $aclass = explode(",",$sc_data['classes']);}--><select name='class'><!--{loop $aclass $v}--><!--{eval $selected = $v == $party['class'] ? "selected" : "" ;}--><option value='$v'{$selected}>$v</option><!--{/loop}--></select><!--{else}--><font color="red">请重新设置，多个设置请用英文状态下的逗号隔开。</font><!--{/if}--></td>
				</tr>

				<tr>
					<th><b>性别要求</b><font color="red">(*)</font></th>
					<td>
						<input name="gender" type="radio" value="0" id="nolimit" {if $party[gender]==0 || empty($party[gender])}checked{/if}/><label for="nolimit">{lang unlimited}</label>
						<input name="gender" type="radio" value="1" id="male" {if $party[gender]==1}checked{/if}/><label for="male">{lang male}</label>
						<input name="gender" type="radio" value="2" id="female" {if $party[gender]==2}checked{/if}/><label for="female">{lang female}</label>
					</td>
				</tr>

				<tr>
					<th><b>需要人数</b><font color="red">(*)</font></th>
					<td><input name="number" class="txt" type="text" value="$party[number]" style='width:40px;'/> 0为不限</td>
				</tr>

				<tr>
					<th><b>联系电话</b><font color="red">(*)</font></th>
					<td><input name="phone" class="txt" type="text" value="$party[phone]" style='width:120px;'/></td>
				</tr>

				<tr>
					<th><b>备注选项</b></th>
					<td><input name="marks" class="txt" type="text" value="$party[marks]"/>用竖线|分割，如：“集合点|自行前往”</td>
				</tr>

				<!--{if $sc_data['follower']==1}-->
				<tr>
					<th><b>随行人员</b><font color="red">(*)</font></th>
					<td><input name='followed' type='radio' value='0' {if $party[followed]==0 || !isset($party[followed])}checked{/if}>不允许 <input name='followed' type='radio' value='1' {if isset($party[followed]) && $party[followed]==1}checked{/if}>允许</td>
				</tr>
				<!--{/if}-->

				<!--{if $sc_data['dowork']==1}-->
				<tr>
					<th><b>分工设置</b><font color="red">(*)</font></th>
					<td><input name="doworker" class="txt" type="text" value="$party[doworker]"/>用英逗号,分割，如：“主讲,助教,旁听”</td>				</tr>
				<!--{/if}-->

				<!--{if $sc_data['optionform']==1}-->
				<tr>
					<th colspan='2' height='20'></th>
				</tr>

				<!--{if $sc_data['optionfield']}-->
				<!--{loop $sc_data['optionfield'] $v}-->
				<tr>
					<th><b>$v[name]</b><!--{if $v['must']=='on'}--><font color="red">(*)</font><!--{/if}--></th>
					<td>$v[html]</td>
				</tr>
				<!--{/loop}-->
				<!--{/if}-->

				<!--{/if}-->

				<tr>
					<th>&nbsp;</th>
					<td><input type="submit" value='提交设置' name='partysubmit'/></td>
				</tr>				
			</table>
		</div>
	</div>
</div>
</form>

{subtemplate footer}
