{subtemplate header}

<div id="nav"><a href="$indexname">$bbname</a> &raquo; <a href="viewthread.php?tid=$tid">$party[subject]</a></div>

<div id="wrap" class="wrap s_clear">
	<div class="main">
		<div class="content specialpost">
			<h1><font color="blue">活动回复</font></h1>
			<form method="post" action="party.php?act=operate&for=reply&tid=$tid&pid=$pid">
			<table cellspacing="0" cellpadding="0" class="formtable">
				<tr>
					<th><b>回复信息：</b><font color="red">(*)</font><br />(200字以内)</th>
					<td><textarea name="reply" rows="4" cols="80">$party[reply]</textarea></td>
				</tr>
				<tr>
					<th>&nbsp;</th>
					<td><input type="submit" value='确认回复' name='partysubmit'/></td>
				</tr>		
			</table>
			</form>
		</div>
	</div>
</div>

{subtemplate footer}