<style type="text/css">
@import url(forumdata/cache/party.css);
</style>

	<div id="info">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed; border:none;">
			<tr>
				<td rowspan="8" class="postauthor" valign="top" style="border:1px solid #CBCBCB; border-right:none;">
					<cite>
					<label>
					<!--{if $vtonlinestatus && $post['authorid']}-->
						<!--{if ($vtonlinestatus == 2 && $onlineauthors[$post[authorid]]) || ($vtonlinestatus == 1 && ($timestamp - $post['lastactivity'] <= 10800) && !$post['invisible'])}-->
							<em><!--{if $post[gender]==1}--><img src='images/default/Male.gif' title='帅哥({lang online})' /><!--{elseif $post[gender]==2}--><img src='images/default/FeMale.gif' title='美女({lang online})' /><!--{else}--><img src='images/default/Bm.gif' title='保密({lang online})' /><!--{/if}-->
						<!--{else}-->
							<em><!--{if $post[gender]==1}--><img src='images/default/ofMale.gif' title='帅哥({lang offline})' /><!--{elseif $post[gender]==2}--><img src='images/default/ofFeMale.gif' title='美女({lang offline})' /><!--{else}--><img src='images/default/ofBm.gif' title='保密({lang offline})' /><!--{/if}-->
						<!--{/if}-->
						</em>
					<!--{/if}-->
													
					</label>
					<span style="font-weight: normal;color:#666;">召集:</span> <a href="space.php?uid=$post[authorid]" target="_blank" style="border:0;color:#09c;">$post[author]</a></cite>
																			<div class="avatar">{echo discuz_uc_avatar($post[authorid], 'middle')}</div>	
				</td>
				<td style="padding:0; border:none;">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed; table-layout:fixed; ">
			<tr>
				<th style="border-bottom:none;">活动主题:</th>
				<td colspan="3" style="font-size: 14px; color:red; font-weight: bold; border-bottom:none;">$thread[subject] 
					<!--{if $adminid==1 || $thread['authorid']==$discuz_uid}-->
						<a href="post.php?action=edit&amp;fid=$fid&amp;tid=$tid&amp;pid=$post[pid]" title='编辑'><img src='{IMGDIR}/edit.gif' /></a>
						<span id='party_open'><a href='javascript:void(0);' onclick="javascript:ajaxget('ajax.php?action=party&for=open&tid=$tid&spid=1&extra=$extra', 'party_open');" class='openorclose'>(开)</a></span>
						<span id='party_close'><a href='javascript:void(0);' onclick="javascript:ajaxget('ajax.php?action=party&for=close&tid=$tid&spid=1&extra=$extra', 'party_close');" class='openorclose'>(关)</a></span>
					<!--{/if}-->
				</td>
				<td width='20' align='right'><a title="{lang emailfriend_url_copy}" id="postnum$post[pid]" href="javascript:;" onclick="setcopy('{$boardurl}viewthread.php?tid=$tid&amp;page=$page$fromuid#pid$post[pid]', '{lang post_copied}')"><!--{if !empty($postno[$post[number]])}-->$postno[$post[number]]<!--{else}--><em><font color='red'>{$post[number]}</font></em>{$postno[0]}<!--{/if}--></a>&nbsp;</td>
			</tr>
		</table>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="table-layout:fixed; table-layout:fixed;">
			<tr>
				<th>召集人电话:</th>
				<td><!--{if $party_in==1}--><font color='blue'>$activity[phone]</font><!--{else}-->已报名人员可见<!--{/if}--></td>
				<th>活动类型:</th>
				<td>$activity[class]</td>
			</tr>
			<tr>
				<th>活动时间:</th>
				<td>
								<cite>$activity[showtime]</cite>
								</td>
				<th style="width:110px;word-break:break-all;table-layout:fixed;">发起时间:</th>
				<td><!--{echo date('Y-n-j H:i',$activity[starttimefrom])}--> <!--{if $activity[updatetime]}--><em>(<!--{echo date('n-j H:i',$activity[updatetime])}--> 修改)</em><!--{/if}--></td>
			</tr>
			<tr>
				<th>报名截止:</th>
				<td><!--{echo date('Y-n-j H:i',$activity[starttimeto])}--></td>
				<th rowspan="3" style="width:110px;word-break:break-all;table-layout:fixed;">活动状态:</th>
				<td rowspan="3">
				<img src="images/default/party_{$party_img}.gif" />				
				</td>
			</tr>
			<tr>
				<th>活动限制人数:</th>
				<td><cite><!--{if $activity[number]}-->$activity[number]<!--{else}-->不限<!--{/if}--></cite></td>
			</tr>
			<tr>
				<th>已确认/报名:</th>
				<td><strong>$party_pass_count<!--{if $activity[followed]}-->+{$pass_followed}<!--{/if}--></strong> / $party_all_count<!--{if $activity[followed]}-->+{$all_followed}<!--{/if}--></td>
			</tr>
			<tr>
				<th>通过人员:</th>
				<td colspan="3">
					<!--{loop $pass_list $v}-->
					<a href="space.php?uid=$v[uid]" class='gender$v[gender]'>$v[username]</a>&nbsp;,&nbsp;
					<!--{/loop}--></td>
			</tr>
			<!--{if !empty($activity['marks'])}-->
			<tr>
				<th>通过人员统计:</th>
				<td colspan="3">$count_marks_html</td>
			</tr>
			<!--{/if}-->
			<!--{if $SFCF}--><!--{echo SFS()}--><!--{/if}-->
			</table>
		</td>
		</tr>
		</table>

		<div id="detail">
			<h2>活动说明：$thread[subject]</h2>

			$post[message]

			<!--{if $post['attachment']}-->
				<div class="locked">{lang attachment}: <em>{lang attach_nopermission}</em></div>
			<!--{elseif $hideattach[$post[pid]] && $post['attachments']}-->
				<div class="locked">{lang attachment}: <em>{lang attachment_reply_show}</em></div>
			<!--{elseif $post['imagelist'] || $post['attachlist']}-->
				<div class="postattachlist">
					<!--{if $post['imagelist']}-->
						$post['imagelist']
					<!--{/if}-->
					<!--{if $post['attachlist']}-->
						$post[attachlist]
					<!--{/if}-->
				</div>
			<!--{/if}-->

			<!--{if $aimgs[$post[pid]]}-->
			<script type="text/javascript" reload="1">aimgcount[{$post[pid]}] = [{echo implode(',', $aimgs[$post[pid]]);}];attachimgshow($post[pid]);</script>
			<!--{/if}-->


			<!--{if $adminid==1 || $thread['authorid']==$discuz_uid}-->
			<br /><br /><center><input type="button" class="postsubmit" value="打印通过名单" style='cursor:hand;' onclick="window.open('my.php?item=party_print&tid=$tid');"/></center>
			<!--{/if}-->


		</div>
	</div>

<!--{if $party_pass_count > 0}-->
<div id="ptpassed"></div>
<script type="text/javascript">ajaxget('party.view.php?tid=$tid&action=passed','ptpassed');</script> 
<!--{/if}-->

<!--{if $party_no_pass_count > 0}-->
<div id="ptnopass"></div>
<script type="text/javascript">ajaxget('party.view.php?tid=$tid&action=nopass','ptnopass');</script>
<!--{/if}-->

<!--{if $_duetime==1 && $ck_party_in}-->
<div style='text-align:center;line-height:50px;'><font color=red>截止时间离当前时间小于<!--{echo $_SF_[$fid]['duetime']}-->分钟，不允许再编辑。请刷新页面 ...</font></div>
<!--{/if}-->

<!--{if !$ck_party_in || $spidedit}-->
	<!--{eval $action_f = $spidedit ? 'signup_edit' : 'signup';}-->
<a name='signup_edit'></a>
<div class="signup" id='signup'>
		<h4>我要报名</h4>
		<form id="signupform" name="signupform" method="POST" action="ajax.php?action=$action_f&tid=$tid" onsubmit="return ck_signup();">
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<input type="hidden" name="tid" value="$tid" />
		<input type="hidden" name="fid" value="$fid" />
		<input type="hidden" name="spid" value="$spidedit[pid]" />
		<input type="hidden" name="extra1" value="$extra" />
	<table cellspacing="0" cellpadding="0">	
				<!--{if $discuz_uid}-->
				<thead>
				<tr>
					<th width='24%' style='padding-left:12px;'>用户名：</th>
					<td>
						$discuz_user [<a href="logging.php?action=logout&amp;formhash={FORMHASH}">退出登录</a>]
					</td>
				</tr>
				</thead>
				<!--{/if}-->
				<tr>
				<th width='24%' style='padding-left:12px;'>联系电话：(必填，只有召集者可见)</th>
				<td><INPUT TYPE="text" class='txt' name="usermobile" size="36" maxlength="20" VALUE="$spidedit[phone]" onkeyup="value=value.replace(/[^0123456789-]/g,'')"></td>
			</tr>
			<tr>
				<th style='padding-left:12px;'>个人说明：(200字以内)<br /><span style="color:green">提示：本部分内容为公开信息，请勿输入身份证号码和手机号等个人信息。</span></th>
				<td><textarea name="usrexplain" ROWS="4" COLS="80">$spidedit[message]</textarea></td>
			</tr>
			<!--{if !empty($activity['marks'])}-->
			<tr>
				<th style='padding-left:12px;' height='30'>备注选项</th>
				<td><!--{loop $exmarks $k $v}--><input name="marks" type="radio" value="$k" {if $k==$spidedit[marks]}checked{/if}/>$v<!--{/loop}--></td>
			</tr>
			<!--{/if}-->
			<!--{if $activity['followed']}-->
			<tr>
				<th style='padding-left:12px;' height='30'>随行人员(加几)</th>
				<td><input type='text' name='followed' class='txt' onkeyup="value=value.replace(/[^0123456789-]/g,'')" value='$spidedit[followed]' maxlength='4' size='4'> <font color='#666666'>请输入数字</font></td>
			</tr>
			<!--{/if}-->
			<!--{if $spidedit}-->
			<tr>
				<th style='padding-left:12px;' height='30'><font color='red'>状态选项</font></th>
				<td><!--{loop array('1'=>'等待确认','2'=>'取消申请','5'=>'下次参加') $k $v}--><input name="verified" type="radio" value="$k" {if $k==$spidedit[verified]}checked{/if}/>$v<!--{/loop}--></td>
			</tr>				
			<!--{/if}-->
			<tr>
				<th></th>
				<td>
					<!--{if !$discuz_uid}--><p id="notice"><IMG SRC="images/default/ico_mytip.gif" align="absmiddle">您当前的身份是游客，请[<a href="logging.php?action=login">登陆</a>] 后进行报名。</p>
					<!--{else}-->
						<!--{if $activity['closed']}-->
							<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> 本次活动已结束，不再接受报名。^_^</p>
						<!--{else}-->
							<!--{if $party_pass_count >= $activity['number'] && $activity['number']}-->
								<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> 本次活动参加人数已达上限，不再接受报名。^_^</p>
							<!--{elseif $gender_pass!=1}-->
								<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> 不好意思，此次活动有性别要求。^_^</p>
							<!--{elseif $extcreditsed==1}-->
								<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> 不好意思，你的<!--{echo $_DCACHE['settings']['extcredits'][$extcredits_x]['title']}-->不足$extcredits_y ^_^</p>
							<!--{else}-->
								<p id="notice"><IMG SRC="images/default/notice_1.gif" align="absmiddle"> <strong>免责声明：</strong>本活动为非赢利目的网	 友活动，活动中可能存在意外的因素，参加者纯属自愿行为，一旦报名参加，则视为愿意自行承担活动中可能出现的意外伤害及经济损失，组织者及其他成员概不承担任何法律或者经济上的责任，请慎重报名参加。</p>
							<!--{/if}-->
						<!--{/if}-->
					<!--{/if}-->
				</td>
			</tr>
			<!--{if !$activity['closed'] && $discuz_uid && $gender_pass}-->
			<tr>
				<th></th>
				<td>
				<button type="submit" name="signupsubmit" class="postsubmit" value="signupsubmit">同意以上声明并确认报名</button>
				<button TYPE="button" class="postsubmit" onclick="alert('必须同意活动免责声明才可报名。');">不同意以上免责声明</button>
				</td>
			</tr>
			<!--{/if}-->
			<tr>
				<th></th>
				<td>&nbsp;</td>
			</tr>
		</table>
		</form>

	</div>

<script type="text/javascript">
function ck_signup(){
	phone = document.signupform.usermobile;
	explain = document.signupform.usrexplain;

	if (phone.value=='')
	{
		phone.focus();
		return false;
	}
	if (explain.value=='')
	{
		explain.focus();
		return false;
	}
	ajaxpost('signupform','signup');
	return false;
}
</script>

<!--{/if}-->