{template header}
<script type="text/javascript">
$(document).ready(function(){
	$("#tpbk img,#tjct img,#jccts img").each(function(i){
		var w = this.width;
		var h = this.height;
		if(w > 100 || h > 75){
			if(w/h>4/3){
				this.style.width = "100px"
			}else{
				this.style.height = "75px"
			}
		}
	});
	$("#jcct img").each(function(i){
		var w = this.width;
		var h = this.height;
		if(w > 160 || h > 120){
			if(w/h>4/3){
				this.style.width = "160px"
			}else{
				this.style.height = "120px"
			}
		}
	});

	$("#bd_jcct .a-img img,#reci img").each(function(i){
		var w = this.width;
		var h = this.height;
		if(w > 80 || h > 60){
			if(w/h>4/3){
				this.style.width = "80px"
			}else{
				this.style.height = "60px"
			}
		}
	});

	
	$("input[name*='searchtext']") .focus();
	$("#notice h2 a").click(function(){
		var id = $(this).attr('href');
		$("#zxdt, #zngg").hide();
		$("#notice h2  a").toggleClass('on');
		$(id).show();
		return false;
	});
	
	if($("#zxdt").height()>440){
		$("#zxdt").height(440);
		$("#zxdt").css("overflow","hidden");
		var scroll=new s('zxdt',2000,30);
		scroll.bind();
		scroll.start();
	}
});

function s(zxdt, delay, speed){
    this.rotator = $("#"+zxdt);
	this.delay = delay || 1000;
	this.speed = speed || 20;
	this.tid = this.tid2 = this.firstp = null;
	this.pause = false;
	this.num=0;
	this.p_length=$("#zxdt p").length;
}
s.prototype = {
	bind:function(){
		var o = this;
		this.rotator.hover(function(){o.end();},function(){o.start();});
	},
	start:function(){
		this.pause=false;
		if($("#zxdt p").length==this.p_length){
			this.firstp=$("#zxdt p:first-child");
			this.rotator.append(this.firstp.clone());
		}
		var o = this;
		this.tid = setInterval(function(){o.rotation();}, this.speed);
	},
	end:function(){
		this.pause=true;
		clearInterval(this.tid);
		clearTimeout(this.tid2);
	},
	rotation:function(){
		if(this.pause)return;
		var o=this;
		var firstp=$("#zxdt p:first-child");
		this.num++;
		this.rotator[0].scrollTop=this.num;
		if (this.num == this.firstp[0].scrollHeight+8){
			clearInterval(this.tid);
			this.firstp.remove();
			this.num = 0;
			this.rotator[0].scrollTop = 0;
			this.tid2 = setTimeout(function m(){o.start();},this.delay);
		}
	}
}

</script>
<script type="text/javascript">
var indexlogin = 1;
var loginTip1 = '{lang loginTip1}';
var loginTip2 = '{$loginTip2}';
var loginTip3 = '{lang loginTip3}';
var logincodewrong = '{lang logincodewrong}';
var name_max_length = $name_max_length;
var name_min_length = $name_min_length;
var editPassTip1 = '{lang editPassTip1}';
var loginTip4 = '{lang loginTip4}';
var checkcode = '{$checkcode}';
</script> 


<div id="left">
<div class="jc_rd">
	<div id="jcct" class="columns w-428 jcct r">
		<h2 class="col-h2">{lang wonderDoc}</h2>
		<a href="{url list-focus-3}"  class="more">{lang more}</a>
		<!--{if isset($indexcache['fistwonderdoc'])}-->
			<dl class="col-dl">
				<dd class="l"><a href="{url doc-view-$indexcache['fistwonderdoc']['did']}"  class="a-img"><img title="{$indexcache['fistwonderdoc']['title']}" src="{$indexcache['fistwonderdoc']['image']}"/></a></dd>
				<dt class="h1 bold"><a href="{url doc-view-$indexcache['fistwonderdoc']['did']}" title="{{$indexcache['fistwonderdoc']['title']}" >{$indexcache['fistwonderdoc']['shorttitle']}</a></dt>
				<dd><p>{$indexcache['fistwonderdoc']['summary']}...<a href="{url doc-view-$indexcache['fistwonderdoc']['did']}" >{lang readFullText}&gt;&gt;</a></p></dd>
			</dl>
		<div  id="jccts" >
		<span class="l" id="bd_jcct2_left"></span>
		
			<div class="l" id="bd_jcct">
			<div id="bd_jcct2">
				<!--{loop $indexcache['wonderdocs'] $wondoc}-->
					<div class="jc_tj">
						<a href="{url doc-view-$wondoc['did']}"  class="a-img"><img alt="{$wondoc['title']}" title="{$wondoc['title']}" src="{$wondoc['image']}"/></a>
						<p class="a-c"><a href="{url doc-view-$wondoc['did']}"  title="{$wondoc['title']}">{$wondoc['title']}</a></p>
					</div>
				<!--{/loop}-->	
				</div>					
			</div>
			<span class="r" id="bd_jcct2_right"></span>	
		</div>
		<!--{/if}-->
		</div>
		
		<script>
function fn_scroll(id, childWidth){
	this.tid=0;
	this.obj=$(id);
	this.obj_left=$(id+'_left');
	this.obj_right=$(id+'_right');
	
	this.pause = 0;
	this.speed = 800;
	this.moving = 0;
	this.num = 4;
	this.childTag="div";
	
	if(typeof childWidth == 'undefined'){
		childWidth = this.obj.find(":first-child").outerWidth();
	}
	this.childWidth = childWidth;
	
	this.init();
}

fn_scroll.prototype = {
	init:function(){
		var self = this, width=0, childs=self.obj.find(self.childTag).size();
		
		if(!childs){
			return self.stop();
		}else if(childs < self.num + 2){
			var x=0;
			for(var i=childs; i<self.num+2; i++){
				//self.obj.append($(self.obj[0].childNodes[x++]).clone());
				var o=self.obj.find(self.childTag+":eq("+(x++)+")").clone();
				self.obj.find(self.childTag+":last-child").after(o);
				childs++;
			}
		}
		
		width=childs * self.childWidth;
		self.obj.css({width:width, marginLeft:-self.childWidth});
		
		self.obj_left.click(function(){ self.move() });
		self.obj_right.click(function(){ self.move('right') });
	},
	stop:function(){
		this.pause = 1;
	},
	bind:function(){
		var self=this;
		if(self.pause) return;
		self.obj.mouseover(function(){self.pause = 1}).mouseleave(function(){self.pause = 0});
		clearInterval(this.tid);
		self.tid=setInterval(function(){self.move('left')}, 3000);
	},
	move: function(direction){
		direction = direction || 'left';
		if(this.pause || this.moving) return;
		this.moving = 1;
		direction == 'right' ? this.moveRight(): this.moveLeft();
	},
	moveLeft:function(){
		var self=this;
		self.obj.stop().animate({marginLeft:-self.childWidth*2}, self.speed, function(){
			self.obj.find(self.childTag+":last-child").after(self.obj.find(self.childTag+":first-child"));
			self.obj.css({marginLeft:-self.childWidth});
			self.moving = 0;
		});
		
		this.bind();
	},
	moveRight:function(){
		var self=this;
		self.obj.stop().animate({marginLeft:0}, self.speed, function(){
			self.obj.find(self.childTag+":first-child").before(self.obj.find(self.childTag+":last-child"));
			self.obj.css({marginLeft:-self.childWidth});
			self.moving = 0;
		});
		
		self.bind();
	}
}

var sl = new fn_scroll('#bd_jcct2', 100);

$(window).ready(function(){

	sl.bind();
});

</script>	
		

	
	
	
	<div id="reci" class="columns reci r">
		<h2 class="col-h2">{lang hotDoc}</h2>
		<a href="{url list-focus-2}" class="more">{lang more}</a>		
		<!--{loop $indexcache['hotdocs'] $key $hotdoc}-->
			<dl class="col-dl <!--{if $indexcache['hotdocounts']==$key+1}-->bor_no<!--{/if}-->">
				<dd><a href="{url doc-view-$hotdoc['did']}"  title="{$hotdoc['title']}" class="a-img l"><img alt="{$hotdoc['title']}" title="{$hotdoc['title']}" src="{$hotdoc['image']} "/></a></dd>
				<dt><a href="{url doc-view-$hotdoc['did']}"  title="{$hotdoc['title']}">{$hotdoc['shorttitle']}</a></dt>
				<dd><p>{$hotdoc['summary']}[<a href="{url doc-view-$hotdoc['did']}"  class="entry">{lang detail}</a>]</p></dd>
			</dl>
		<!--{/loop}-->
	</div>
</div>
<!--ad start -->

<!--{if isset($advlist[2]) && isset($setting[advmode]) && '1'==$setting[advmode]}-->
<div class="ad" id="advlist_2">
{$advlist[2][code]}
</div>
<!--{elseif isset($advlist[2]) && (!isset($setting[advmode]) || !$setting[advmode])}-->
<div class="ad" id="advlist_2">
</div>
<!--{/if}-->

<!--ad end -->	
<div class="content-box">
		<div id="tjct" class="columns tjct  l">
			<h2 class="col-h2">{lang focusDoc}</h2>
			<a href="{url list-focus}" class="more">{lang more}</a>
			<!--{loop $indexcache['commenddocs'] $key $fistcomdoc}-->
				<!--{if $key<3}-->
				<div class="jc_tj">
					<a href="{url doc-view-$fistcomdoc['did']}"  class="a-img"><img alt="{$fistcomdoc['title']}" title="{$fistcomdoc['title']}" src="{$fistcomdoc['image']}"/></a>
					<p class="a-c"><a href="{url doc-view-$fistcomdoc['did']}"  title="{$fistcomdoc['title']}">{$fistcomdoc['shorttitle']}</a></p>
				</div>
				<!--{/if}-->
			<!--{/loop}-->
			<ul class="col-ul point font-14 c-b">
				<!--{loop $indexcache['commenddocs'] $key $commenddoc}-->
					<!--{if $key>=3}-->
					<li><a href="{url doc-view-$commenddoc['did']}"  title="{$commenddoc['title']}">{$commenddoc['shorttitle']}</a></li>
					<!--{/if}-->
				<!--{/loop}-->
			</ul>
		</div>

		
	<div id="zjgx" class="columns zjgx o-v r">
		<h2 class="col-h2">{lang recentUpdate}</h2>
		<a href="{url list-recentupdate}" class="more">{lang more}</a>
		<ul class="col-ul font-14 ">
		   <!--{loop $indexcache['recentupdatelist'] $doc}-->
				<li><a href="{url doc-view-$doc['did']}"  class="ctm" title="{$doc['title']}">{$doc['shorttitle']}</a><span>$doc['lastedit']</span></li>
		   <!--{/loop}-->
		</ul>
	</div>
	</div>



<div class="content-box">
	<div id="tpbk" class="columns w-428 tpbk l">
		<h2 class="col-h2">{lang picture}</h2>
		<a href="{url pic-piclist}"  class="more">{lang more}</a>
		
		<!--{loop $indexcache['piclist'] $picname}-->
			<div class="jc_tj">
				<a href="{url pic-view-{$picname['id']}-{$picname['did']}}"  class="a-img"><img title="{$picname['description']}"  src="{$picname['attachment']}"/></a>
				<p class="a-c"><a href="{url pic-view-{$picname['id']}-{$picname['did']}}" >{$picname['description']}</a></p>
			</div>
		<!--{/loop}-->
	</div>

		<div id="dwsct" class="columns dwsct i6-ff list3 r">
			<h2 class="col-h2">{lang cooperatedoc}</h2>
			<a href="{url doc-cooperate}"  class="more">{lang more}</a>
			<ul class="col-ul font-14" >
				<!--{loop $indexcache['cooperatedocs'] $coopdoc}-->
					<li><a href="index.php?doc-innerlink-{eval echo urlencode({$coopdoc['title']})}"  title="{$coopdoc['title']}">{$coopdoc['shorttitle']}</a></li>
				<!--{/loop}-->
			</ul>
		</div>
	</div>

<div class="content-box">
	<div id="rmbq" class="columns i6-ff p-b8 rmbq">
		<h2 class="col-h2">{lang hotTag}</h2>
		<ul class="col-ul list-s">
		<!--{loop $indexcache['hottag']	 $tag}-->
			<!--{if $tag['tagcolor']=='red'}-->
				<li><a href="{url search-tag-{eval echo urlencode($tag['tagname'])}}" class="red">{$tag['tagname']}</a></li>
			<!--{else}-->
				<li><a href="{url search-tag-{eval echo urlencode($tag['tagname'])}}" >{$tag['tagname']}</a></li>
		    <!--{/if}-->
	    <!--{/loop}-->
		</ul>
	</div>
</div>

<div class="content-box">
	  <!--{if count($list)>0}-->
  <!--{loop $list $key $doc}-->
  <dl class="col-dl">
    <dt class="h2"><a href="{url doc-view-$doc['did']}" >{$doc['title']}</a></dt>
    <dd class="gray ">{lang creator}:<a href="{url user-space-$doc['authorid']}" >{$doc['author']}</a>{lang createTime}:{$doc['time']}</dd>
    <dd><span class="bold">{lang tag}:</span><!--{loop $doc['tag'] $key $tag}--> <a href="{url search-tag-{eval echo urlencode($tag)}}" >{$tag}</a> <!--{/loop}--></dd>
    <dd>
      <p><span class="bold">{lang summary}:</span>{$doc['summary']}<a href="{url doc-view-$doc['did']}">[{lang readFullText}:]</a></p>
    </dd>
    <dd class="gray ">{lang edit}:{$doc['edits']}{lang times}| {lang view}:{$doc['views']}{lang times}</dd>
  </dl>
  <!--{/loop}-->
  <!--{/if}-->
</div>	

</div>

<div id="right" class="r">
	<div class="r-col total">
	<p>全民共同撰写的百科全书，<br/>已收录词条<b>{hdwiki:docnumber/}</b>个。</p>
	<a href="{url doc-create}" class="bjsy">{lang createDoc}</a>

	<a href="{url doc-cooperate}" class="wsct">完善词条</a>
	<a href="{url doc-sandbox}" class="cjct">{lang sandbox}</a>
	</div>
	
	
	<div class="columns r-col rmss">
		<h2 class="col-h2">{lang hotsearch}</h2>
		<ul class="col-ul">
				<!--{loop $hotsearch $hotname}-->
					<!--{if $hotname[name]}-->
					<li><a href="<!--{if $hotname[url]}-->{$hotname[url]}<!--{else}-->index.php?doc-innerlink-{eval echo urlencode($hotname[name])}<!--{/if}-->" target="_blank">{$hotname[name]}</a></li>
					<!--{/if}-->
				<!--{/loop}-->
		 </ul>		
	</div>



		
	<div id="notice" class="columns qh  r-col notice ">
		<h2 class="col-h2 h3"><a href="#zngg" target="_self">{lang webnotice}</a><a href="#zxdt" target="_self" class="on">{lang news}</a></h2>
		<div id="zxdt">
			<!--{loop $indexnewscache['newslist'] $newslist}-->
				<p class="col-p">{$newslist}</p>
			<!--{/loop}-->
		</div>
		<div id="zngg" class='none'><p class="col-p">$setting[site_notice]</p></div>
	</div>
	
	
	<div id="zjpl" class="columns r-col zjpl">
		<h2 class="col-h2">{lang recentComment}</h2>
		<!--{loop $indexcache['recentcommentlist'] $comment}-->
			<div class="pl_unit">
				<a href="{url user-space-$comment['authorid']}"  class="a-img1"><img alt="" src="<!--{if $comment['image'] }-->{$comment['image']}<!--{else}--><!--{/if}-->" width="36px" height="36px" /></a>
				<p><a href="{url comment-view-$comment['did']}" title="{$comment['comment']}"  class="block">{$comment['tipcomment']}</a>{$comment['time']}</p>
			</div>
		<!--{/loop}-->
	</div>
	

	
	
</div>


<div class="c-b"></div>

<!--{if count($indexcache['friendlink'])!=0}-->
<div  id="yqlj" class="columns no_col-h2 bg-gray yqlj i6-ff">
	<ul class="col-ul list-s">
	<li><span class="bold">{lang friendLink}:</span></li>
	<!--{loop $indexcache['friendlink'] $link}-->
	<li><a href="{$link['url']}"  title="{$link['description']}">{$link['name']}</a></li>
	<!--{/loop}-->
	</ul>
</div>
<!--{/if}-->
{template footer}