.hdwiki_tmml {
    font-size: 24px;
    border-bottom: 1px dashed #9b9b9b;
    display: block;
    overflow: hidden;
    clear: both;
    float: none;
    margin:10px 0;
    padding: 0 0 5px;
    font-weight: bold
}
.hdwiki_tmmll {
    font-size: 14px;
    border-bottom: 1px dashed #9b9b9b;
    display: block;
    overflow: hidden;
    clear: both;
    margin:10px 0;
    padding: 0 0 5px;
    font-weight: bold
}

.img {
	background:#FAFAFA none repeat scroll 0 0;
	border:1px solid #E8E8E8;
	color:#666666;
	font-size:12px;
	padding:10px;
	text-align:center;
}
.img  img{
	border:0;
}

.img strong {
    font-size: 12px;
    font-weight: normal;
    display: block;
    overflow: hidden;
    line-height: 18px;
    padding-top: 10px;
}

.img_l {
	float:left;
	margin:5px 20px 5px 0;
}

.img_r {
	float:right;
	margin:5px 20px 5px 0;
}

.mod_img {
	clear:both;
}

/*±í¸ñ*/
table {margin:10px;font-size:12px;background: #fafafa;border: 1px solid #e8e8e8;}
table td{padding:10px; margin:0; border:none}
table td table {margin:0;}
table td table td{padding:2px}
.table {margin: 10px auto;color: #666;font-size:12px;table-layout:auto;}
.table td {background: #fafafa;border: 1px solid #e8e8e8;padding:10px; vertical-align: top;}
.table td .img {border: 0;background: none;padding: 0}