/*--------------------------------
	Css for hdwiki 5.0
	Page build by banma@vip.qq.com
	Date:09-10-28
	Sytle: Official
 ---------------------------*/  
@import url('content.css');
@import url('mix_color.css');
/*==============basic.css============*/
html,body,div,dl,dt,dd,ul,ul li,h1,h2,h3,h4,h5,h6,pre,input,p,blockquote,th,td,form{margin:0;padding:0;}
ul,ul li,dd,dt,dl{ list-style:none;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
img{border:0;}
caption,th{text-align:left;}
table{border-collapse:collapse;empty-cells:show;}
input,select,textarea{font-size:12px; color:#111111;font-family:verdana,'lucida grande',taho,'trebuchet ms',sans-serif;}
textarea {padding:2px; border:1px #DBE6EF solid; color:#666;}
html{ text-align:center; background:#FFF url(bg_body.gif) repeat-x;}
body{ position:relative; width:930px; margin:0 auto;text-align:left;font:12px/1.2 verdana,SimSun,Arial,Helvetica,'sans-serif';}
.table{border-spacing:0;font-size:12px;}
:focus{outline:none;}
/*--font size--*/
h1,.h1{font-size:16px;}
h2,.h2{font-size:14px;font-weight:bold;}
h3,.h3{font-size:12px; font-weight:normal;}
.font-14{font-size:14px;}
.bold{ font-weight:bold;}
.indent{text-indent:-9999em;}
/*--color--*/
.red{color:#F36 !important;}
.blue,a.blue{color:#0268cd;}
.orange{color:#FF9900 !important;}
.gray{color:#666;}
.black{color:#333;}
.bg_white{background:white;}
/*--bg_color--*/
.bg-gray{background-color:#f9f9f9;}
/*--float and align--*/
.l{float:left;}
.r{float:right;}
.a-l{text-align:left;}
.a-r{text-align:right;}
.a-c{text-align:center;}
.c-b{clear:both;}
.block{display:block;}
.none{display:none;}
/*--margin and padding--*/
.m-t10{margin-top:10px;}
.m-t8{margin-top:8px;}
.m-r8{margin-right:8px;}
.m-lr8{margin-left:8px;margin-right:8px;}
.m-l8{margin-left:8px;}
.m-b8{margin-bottom:8px;}
.p-b8{padding-bottom:8px;}
.p-b10{padding-bottom:10px !important;}
.p-10{padding:10px;}
/*--border--*/
.bor_no{border:0 !important;}
.bg_no{background:none !important;padding-right:0 !important;}
.bor_b-ccc,.col-h2{border-bottom:1px #7cb820 solid;}
.bor-ccc,.columns,.bor-c_dl dl{border:1px #7cb820 solid;}

/*--input--*/
.inp_txt{border:1px #7f9db9 solid;color:#666;height:17px;line-height:17px;}
/*--layout--*/
.wrap{margin:0 auto;position:relative;}
.v-m{vertical-align:middle;}

/*--width--*/
.w-950{width:950px;}
.w-710{width:684px; padding-right:15px;}
.w-550{width:550px;}
.w-630{width:630px;}
.w-428{width:428px;}
.w-310{	width:310px;}
.w-268{width:268px;}
.w-270{width:270px;}
.w-230{width:202px;}
.w-110{width:110px;}
.w-70{width:70px;}

.w-202 { width:202px;}
.leftcol { width:202px; float:left;}
.maincol { width:684px; padding-right:15px; padding-top:10px; float:right; overflow:hidden;}
/*--img style--*/
.a-img,.a-img2,.a-img1{border:1px #a7cf3b solid}
.a-img img{padding:4px;}
.a-img2 img{padding:2px;}
.a-img1 img{padding:1px;}
/*--mouse mode--*/
.cursor{cursor:pointer;}
/*--position--*/
.pos-re{position:relative;}
/*----link style----*/
a{color:#1a8b00 ; text-decoration:none;}
a:hover{color:#f36;text-decoration:underline;}  
/*------link orange-----*/
.link_orange a{color:#ff3300; text-decoration:none;}
.link_orange a:hover{color:#ff3300;text-decoration:underline;}

.more01 { position:absolute; right:10px; background:url(more.gif) no-repeat; width:43px; height:9px; overflow:hidden;}
	.more01:hover { background-image:url(more_h.gif);}
.more02 { position:absolute; width:24px; height:24px; overflow:hidden; background:url(more02.gif) no-repeat;}

.addword { line-height:30px; height:30px; text-align:center;}
	.addword a { font-size:14px;}
 /*--ff and ie 6 bug--*/ 
.i6-ff{overflow:hidden;zoom:1;}
.o-v{overflow:hidden;}
/* ============================================================================================= head css ============ */
/* top box1 */
.top { height:72px; background:url(bg_top.gif) no-repeat; overflow:hidden;}
	.logo{ float:left; padding-left:10px;}
	#login{ line-height:23px; text-align:right; padding-top:3px;}
		#login li{ display:inline; padding:0 8px; height:23px;}
			#login li a { background:url(dot01.gif) no-repeat left center; color:#000; padding-left:12px;}
			
		#nav { float:right; padding-top:10px;}
			#nav li{ float:left; padding:0 5px;}
			#nav li a{ display:inline-block; height:34px; width:71px; white-space:pre-wrap; word-break:keep-all; color:#360; overflow:hidden; font-size:14px; font-weight:700; text-align:center; line-height:26px;}
			#nav li a:hover{ text-decoration:none; color:#FFF; background:url(nav_a_h.gif) no-repeat;}
		
		
		
/* top box2 */
.bg_book { background:url(bg_search.jpg) no-repeat; padding-top:145px; height:54px; overflow:hidden; position:relative;}
	.bg_book form { width:560px; height:29px; background:url(bg_search_form.gif) no-repeat; float:right; padding-left:120px; padding-top:3px;}
		#search .btn_txt { width:280px; height:25px; border:0; padding-left:5px; line-height:25px; vertical-align:middle;}
		#search .btn_inp { color:#FFF; background:#000; border:0; padding:2px 5px; cursor:pointer; font-weight:700; vertical-align:middle;}
			#search .btn_inp:hover { color:#F36;}
		#search a { color:#FFF; font-weight:700; margin-left:15px;}
			#search a:hover { text-decoration:none; color:#F36;}
			
		.azmsx{ float:right; width:650px; color:#360; height:21px; line-height:23px; padding-left:30px;}
			.azmsx a{ margin-right:1px; color:#360; font-weight:700;}
			.azmsx a:hover { color:#F36;}
			
	.btn01 { width:210px; height:40px; position:absolute; left:645px; top:110px;}
		.btn01 a { float:left; width:94px; height:35px; background:url(btn_01.gif) no-repeat; margin:0 5px; line-height:35px; text-align:center; font-size:14px; font-weight:700;}
			.btn01 a:hover { background-image:url(btn_01_h.gif); text-decoration:none;}
	.zngg { background:url(bg_zxdt.png) no-repeat; width:202px; height:120px; padding-top:70px; padding-bottom:4px; overflow:hidden; position:absolute; left:0; top:0;}
		.zngg p { font-size:12px; line-height:18px; padding:0 10px;}

/* ============================================================================================= module css ============ */
.lbox1 { clear:both; background:url(bg_leftcol.gif) no-repeat center bottom; padding-bottom:10px; overflow:auto;}
	.lbox1 h2 { background:url(t_lbox1.gif) no-repeat; height:60px; overflow:hidden; line-height:60px; color:#FFF; padding-left:20px; position:relative;}
		.lbox1 h2 a { color:#FFF; font-weight:700;}
			.lbox1 h2 a:hover { text-decoration:none;}
			.lbox1 h2 a.more02 { top:24px; right:18px;}
			
	.lbox1 div.content { clear:both; background:#f1ffcd; margin:0 10px;}

.lbox2 { clear:both; background:#518b0c; padding-bottom:10px; overflow:auto;}
	.lbox2 h2 { background:url(bg_lbox2.png) no-repeat; height:48px; font-size:18px; text-align:right; padding-right:25px; overflow:hidden; line-height:56px; color:#FFF;}
	.lbox2 dl,.lbox2 ul,.lbox2 ol { padding-left:8px; padding-top:8px;}
		.lbox2 a { display:block; height:29px; line-height:28px; overflow:hidden; background:url(a_lbox2.gif) left -29px; font-weight:700; color:#FFF; padding-left:42px;}
			.lbox2 a:hover,.sidebar li a.on { background-position:left 0; text-decoration:none; color:#000;}
		

/* ============================================================================================= index css ============ */
/*------static login-------*/
#login-static { background:url(bg_login-static.jpg) no-repeat; height:255px; overflow:hidden; padding:72px 15px 0 10px;}
	#login-static div { padding:5px; height:169px; overflow:hidden;}
		#login-static span.error { display:block; text-align:center; background:#FF0; line-height:20px;}
			#login-static li{ position:relative;padding:3px 0 4px 0; text-align:center;}
			#login-static li .inp_txt{ width:120px; padding:2px 8px; height:16px; border:1px #F99 solid;}
				.yzm input { border:1px #F99 solid; width:40px; height:18px; vertical-align:middle;}
				.yzm label{ width:55px; height:18px; overflow:hidden; margin:0 5px; }
				.yzm label img{ vertical-align:middle;}
			#login-static li .btn_inp { padding:1px 5px; *padding:3px 2px 0 2px; line-height:15px; vertical-align:middle; cursor:pointer; margin:0 5px;}
			
			#login-static .twhp { line-height:20px;}
			#login-static dd { margin:5px 0;}
			#login-static dd.bor_b-ccc { border-bottom:1px #CCC dotted;}
			#login-static .a-img1 { border-color:#cf484c;}
			
			#login-static .novice{ padding-top:5px;}
					#login-static .novice a{ display:block; height:20px; color:#900; font-weight:700;}
					#login-static .novice a:hover { text-decoration:none; color:#F36;}

/* ------ notice ------- */
#notice { _height:500px; overflow:hidden;}
/* ------ zjpl ------- */
#zjpl {}
.pl_unit{ padding:5px 3px; color:#666; height:40px;}
	.pl_unit .a-img1{ float:left; margin-right:3px;}
	.pl_unit p a{ display:block; height:22px; line-height:22px; overflow:hidden;}
	
/* ------ tjct ------- */
#newsSlider { background:url(newsSlider.png) no-repeat; width:227px; height:280px; padding:10px 16px; overflow:hidden;}
		.container { position:relative; width:227px; height:280px; overflow:hidden;}
		ul.slides { position:absolute; top:0; left:0; width:227px; height:280px;}
			ul.slides li { width:227px; text-align:center; overflow:hidden; display:none; position:absolute; top:0; left:0;}	
		#newsSlider ul.slides li img { width:213px; height:142px; padding:5px; overflow:hidden;}
		#newsSlider ul.slides li h3 { height:24px; line-height:24px; font-size:14px; text-align:center; padding:5px 0;}
		#newsSlider ul.slides li p { line-height:18px; color:#666;}
		
/* ------ jcct ------- */
#jcct { width:417px;}
	#jcct h2 { background:url(t_jcct.png) no-repeat; height:56px; border-bottom:4px #1a8b00 solid; margin-bottom:1px; position:relative;}
		#jcct h2 .more01 { top:40px;}
		#jcct div { padding:10px; background:#d8e2c7;overflow:hidden;}
			#jcct div img { border:3px #fff solid; float:left; margin-right:5px; width:160px; height:122px; vertical-align:middle; overflow:hidden;}
			#jcct div p { line-height:18px; color:#000;}
			#jcct ul { clear:both;}
			#jcct ul li{ height:22px; overflow:hidden; word-break:break-all; font-size:14px; line-height:22px; background:url(dot02.gif) no-repeat 5px 7px; padding-left:20px;}
			#jcct ul li a{ font-weight:bold; color:#900;}
			
/* ---------- mainleft -------- */
.mainleft { border:1px #7cb820 solid; padding:0 10px; width:452px;}
	.mainleft h2 { border-bottom:3px #1a8b00 solid; margin-bottom:1px; position:relative; height:28px; line-height:28px; background:url(dot03.gif) no-repeat 5px; padding-left:18px; color:#1a8b00;}
		.mainleft h2 .more01 { top:10px;}
		
	/*----------reci ------------*/
	#reci { height:180px; overflow:hidden;}
		#reci dl{ background:#f1ffcd; display:inline; float:left; width:210px; border:1px #d3e79d solid; padding:5px; margin:3px 2px;}
			#reci dt { font-size:14px; font-weight:700; line-height:22px; padding-bottom:5px;}
			#reci dd { color:#666;}
	/*----------tpbk ------------*/
	#tpbk .jc_tj { display:inline; background:#f1ffcd; margin:4px;}
	
	/* --------------rmbq -------*/
	#rmbq { clear:both;}
		#rmbq li { font-size:14px; line-height:24px; padding:0 5px;}
	/* -------------------zjgx--------------*/
	#zjgx li { border-bottom:1px dotted #CCC; line-height:18px; margin-bottom:5px; font-size:14px;}
		#zjgx li span { font-size:10px; font-style:italic;}
	/* ------------------- dwsct --------------*/
	#dwsct li { display:inline; white-space:nowrap; border-bottom:1px dotted #CCC; line-height:24px;}

/* ----------- yqlj ------*/
#yqlj { background:#d3e79d; margin-top:10px; clear:both;}
	#yqlj .col-ul{margin-top:0;}
/* --------------- rpct ---------- */
.rpct li { border-bottom:1px dotted #CCC; line-height:22px; margin-bottom:5px; font-size:14px;}
/* ============================================================================================= footer css ============ */
#footer{ height:60px; line-height:22px; padding-top:10px; margin-top:15px; background:url(footer_bg.gif) repeat-x left top; clear:both; border-top:7px solid #70b335;}
#footer-p{float:left;font-family:Tahoma,taho,verdana,'trebuchet ms',sans-serif;font-size:12px;}
#footer-p span{color:#f39700; font-weight:bold;}
#nav_bot{width:400px;clear:right;text-align:right;}
#nav_bot li{padding-right:10px;margin-left:10px;display:inline; background:url(nav_bot_bg.gif) no-repeat right center;}
#nav_bot .bg_no img{ vertical-align:middle;}
/*----A D---*/
.ad{ padding:8px 0; clear:both; overflow:hidden;}
.ad img{display:block;}
/*----A D---*/

/*==============columns css===============*/
.columns{display:block;line-height:22px;position:relative;margin-top:10px;} 
.col-h2{ height:24px; line-height:24px; padding:2px 10px 0 10px; background:url(col_h2_bg.gif) repeat-x left bottom;}
.col-ul,.col-dl,.col-p{color:#333;margin:8px 10px 0 10px;padding-bottom:6px;}
.col-ul li{clear:both;} 
.col-dl dt{font-size:14px;}
.more{position:absolute;top:3px;right:20px;}
.entry{white-space:pre-wrap;}
.columns .h1{font-size:16px;}
.columns .col-dl p{line-height:20px;}
.columns .col-dl p a{white-space:nowrap; word-break:keep-all;}
.sign{vertical-align:middle;margin:0 4px;}
/*----columns css----*/
.no_col-h2{padding:20px 0;}
/*----table css----*/
.table td{line-height:24px;padding:4px;}
/*--point--*/
.point li{padding-left:15px;background:url(point.gif) no-repeat left 10px; vertical-align:middle;overflow:hidden;}
/*----------list syle----------*/
.list2 li{ display:inline; float:left; clear:none; width:45%; margin-right:2%; overflow:hidden; line-height:24px; height:24px;}
.list-s li,.list-s2 li{float:left;clear:none;}
/*--bu xian kuan--*/	
.list-s li{margin-right:8px;}
.list-s li a,.list-s2 li a{display:block;white-space:nowrap;word-break:keep-all;}
.list-s2{padding-top:10px;padding-bottom:10px;}
.list-s2 li{margin:5px 20px 5px 2px;}
/*-------ul li span miaoshu--------*/	
.ul_l_s{line-height:22px;}
.ul_l_s li{margin-left:65px;padding:2px 0; position:relative;}
.ul_l_s li span{position:absolute;left:-65px;width:60px;margin-right:10px;top:0;}
/*--Integrating Text and Graphics--*/	
.twhp{ overflow:hidden;zoom:1; line-height:22px;}
.twhp .a-img1{float:left;margin:3px 10px 0 0;}
.twhp dd span{height:22px; margin-right:8px; overflow:hidden;}
.twhp_dd{display:block;height:22px;overflow:hidden;clear:both;}
.twhp_dd span,.twhp_dd a{display:inline-block;overflow:hidden;}
.twhp dd .sign,.twhp2 dd .sign{ vertical-align:middle;margin-right:4px;width:16px;height:16px;overflow:hidden;}
.twhp2{ margin-left:60px; position:relative; line-height:24px;}
.twhp2 .a-img1{ position:absolute; left:-50px; top:4px;}
.twhp2 dd{ clear:both;}
/*----center and middle---*/	
.j-zhong .a-img1{display:table-cell;vertical-align:middle;text-align:center; *font-family:Arial;*display:block;}
.j-zhong .a-img1 img{vertical-align:middle;}
/*====================index.htm=====================*/
/*----qie huan xiao guo---*/	
.qh .col-h2 a{ position:relative; float:left; margin-right:6px; padding:0 6px; height:23px; border:1px #ccc solid; border-bottom:0; background:url(nav_li.jpg) repeat-x left bottom;}
.qh .col-h2 a.on,.notice h2 a:hover{ height:24px; background:#fff; color:#333; position:relative; bottom:0; margin-top:-1px;_margin-top:0px;}
/*------zjgx tjct-------*/

.zjgx ul{overflow:hidden;}
.zjgx ul a{vertical-align:middle;height:20px;overflow:hidden;}
.zjgx li{vertical-align:middle;border-bottom:1px dashed #ccc;padding-bottom:2px;margin-bottom:2px; zoom:1;}

.ctm{width:140px;margin-right:8px; display:block;}
.zjgx span{font-size:11px;clear:both;}
.jc_tj{float:left;width:125px;height:110px;padding:10px 0 0 16px;}
.jc_tj .a-img{width:108px;height:83px;overflow:hidden;display:table-cell;vertical-align:middle;text-align:center;*font-family:Arial;*font-size:69px;*display:block;}
.jc_tj p.a-c{margin-top:6px;}
.tjct{padding-bottom:10px; zoom:1;}
.jc_tj p{margin-right:14px;}
:root .tjct ul{float:left;}
.tjct .col-ul{margin-right:-10px;padding-bottom:0;}
.tjct li{float:left;width:110px;margin:0 6px;clear:none;display:inline;padding-bottom:2px;height:22px; vertical-align:middle;}
/*------zjpl tpbk-------*/
.tpbk{padding-bottom:12px;}

/*------notice-------*/
.notice{}
/*------dwsct-------*/
.dwsct{padding-bottom:8px;}
/*==============viewdoc.htm===============*/
.hd_map{ padding:10px 0 5px 28px; border-bottom:1px #70b335 dotted; background:url(hd_map.gif) no-repeat left 0; margin-bottom:8px;}
.title_thema{color:#0268cd;padding:8px 0;overflow:hidden;zoom:1;}
.title_thema strong{ font-size:30px;width:500px;}
.comment_thema{width:620px;}
.title_thema a{margin:15px 8px 0; font-size:14px;}
.notes{padding:10px;overflow:hidden; line-height:22px;clear:both;zoom:1;}
.notes p img{vertical-align:middle; margin-right:2px;}
.lock_word{ margin:10px 0;padding:10px; border-color:#f39700; background:#ffc}
/*==doc.htm==*/
#catalog{border:1px solid #9b9b9b; margin-left:10px;float:left;}
#catalog legend {font-weight: bold; font-size:14px; color:#333; margin-left:10px}
#catalog ul {padding:5px 15px}
#catalog ul li {line-height:22px}
#catalog ul li a { color:#333;text-decoration:none}
#catalog ul li a:hover {text-decoration:underline}
#catalog p {text-align:right; margin:0 10px 10px 0}
#catalog p a {margin-left:15px; text-decoration:none}
/*------editor ------*/
.edition {border:1px solid #ff6600; background-color:#ffeeda;line-height:25px; margin:0 0 10px 0; white-space: nowrap;overflow:hidden; margin-top:10px;}
.content_topp,.content_1{padding:0; overflow:hidden;font-size:14px;clear:both; line-height:25px;}
.content_topp p,.content_1 p {margin:0 0 10px;}
.content_1 h3{border-bottom: 1px dashed #9b9b9b; margin:20px 0 15px; width:698px; font-size:20px; float:left; font-weight: bold; padding: 0 5px;}
.content_1 h3 a {font-weight:normal; font-size: 12px; text-decoration: none; padding-left:10px}
.texts {float:left; width:570px;}
.font_1 { font-size:14px}
.font_2 {font-weight: bold; font-size: 14px;}
.font_3 {font-size:14px;font-style: italic;text-decoration: underline;}
.font_4 {font-family: "KaiTi";font-size: 14px;}
.font_5 {font-size:14px;color: #FF0000;}
.ct-label{background:#f7f7f8;line-height:24px;margin:10px 0;padding:5px 0;}
.ct-label a{margin:0 5px;}
.hdwiki_tmmll{font-size:16px;font-weight:bold;}
/*--Annex list--*/
.fj_list{line-height:18px;margin-bottom:15px;}
.fj_list h3{height:30px;line-height:35px;font-weight:bold;padding:0 10px;background:url(fujian_top_bg.jpg) repeat-x left top;}
.fj_list dl{padding: 10px 5px;color:#666;}
.fj_list dt{display:block;clear:both;}
.fj_list dt a.l{margin-right:-20px;}
.fj_list dt span.l{word-break:keep-all;white-space:pre-wrap;padding-left:25px;}
.fj_list dd{clear:both;padding:0px 5px 5px 28px;margin:0 0 8px 0;border-bottom:1px #ccc dashed; }
.inp_del{height:22px;width:60px;margin-left:15px;border:0; background-color:transparent;}
.up_fj{height:22px; line-height:22px;padding:2px;}
.fj_img{margin-right:5px;width:16px;height:16px; vertical-align:top;}
/*--uesful_for_me--*/
.useful_for_me{margin:30px 0 0 0;color:#666;overflow:hidden;}
.useful_for_me span{float:right;width:550px;padding:5px 12px;line-height:20px;}
.useful_for_me a{float:left;width:100px;height:46px;background:url(useful_for_me.gif) no-repeat left top;padding:3px 12px;color:#666;line-height:20px;}
.useful_for_me a:hover{background-position:left -62px;text-decoration:none;color:white;}
.useful_for_me b{display:block;color:#2AA8E3;font-family:"Tahoma";font-weight:bold;padding-left:30px;}
.useful_for_me a:hover b{color:white;}
/*--add_synonym--*/
.add_synonym{ background:url(synonym_bg.gif) repeat-x left top;}
.add p{padding:10px 0 5px 0;overflow:hidden;}
.add label a{margin-right:8px; word-break:keep-all; white-space:nowrap;}

/*--comment--*/
.comment .col-ul{padding:8px 0;}
.comment .col-ul li{padding:4px 0;}
.comment input,.comment img{margin-right:8px; vertical-align:middle;}
.comment .area{ vertical-align:top;}
.comment .title_thema strong{ font-size:14px; margin-top:12px;}
/*--viewdoc viesion--*/
#cklsbb {line-height:20px;margin:8px 0; border-bottom:1px #ccc dashed; overflow:hidden;padding:0 0 6px;color:#666;}
#cklsbb label {color:#333333;margin:0 15px 0 5px;}
#cklsbb a {display:inline-block;margin:0 8px 0 4px;white-space:pre;}
/*--viesion contrast--*/
.LeftFrame,.RightFrame{border:1px #ccc solid;float:left;height:570px;overflow:scroll;width:48%;padding:8px;}
.fanwei,.dian{display:inline-block;height:15px;margin:10px 15px 0 5px;width:45px;}
.fanwei{background:#CCF533;}
.dian{background:#E99BFF;margin-left:30px;}
.edition ul{width:440px;padding:10px;}
/*--ci tiao xin xi--*/
.ctxx .col-dl dt{ font-size:14px; font-weight:700;}
.ctxx .col-ul{ border:dotted !important; border-width:1px 0 0 0 !important; padding-top:8px; line-height:24px;}
/*--ci tiao guan li--*/
.ctgl dl { overflow:auto;}
.ctgl dt { padding:0 12px; background:#bfe49e; line-height:24px;}
.ctgl dd { padding:10px 10px 0; height:22px; line-height:22px; zoom:1; overflow:hidden;}
.ctgl dd.a-c{ padding:10px 0;}
.ctgl dd label{width:80px;}
/*============tan chuang ===================*/
.pop{ overflow:hidden;padding-bottom:16px;position:absolute; background:#fff;z-index:1000;}
.pop .p-h2{height:29px;line-height:29px;padding:0 10px;background:url(pop_bg.gif) repeat-x left top;border-width:0 0 1px 0;}
.pop .p-p{padding:8px 8px 0 8px;text-align:right;}
.pop .p-ul{padding:10px 10px 0 10px;}
.pop .p-ul li {padding-top:3px;padding-bottom:3px; vertical-align:middle;}
.pop .p-ul li input{margin-right:8px;}
.pop btn_inp{padding:0px 5px;*padding:1px 4px 0 4px;line-height:12px; vertical-align:middle;}
.pop .inp_txt{height:16px;}
/*--synonym--*/
#p_synonym{width:440px;right:400px;top:1820px; line-height:22px;}
#p_synonym .p-ul {zoom:1;}
#p_synonym .p-ul li{float:left;width:190px;margin:0 8px;display:inline;}
#p_synonym .p-ul li span{cursor:pointer;}
#p_rel_word{width:460px; overflow:hidden;top:0;left:-460px;}
#p_rel_word .inp_txt{width:180px;}
#p_rel_word ol{margin-left:25px;}
/*============tan chuang ==============*/
.comment .col-h2{display:block;}
.comment .col-h2 a{padding-left:18px; background:url(comment_title_bg.gif) no-repeat left center;}
.com_content{background:#f6f6f6;margin:1px;padding:10px;}
.com_content p.a-r span{cursor:pointer;margin-left:6px;}
.com_content p.a-r img{vertical-align:middle;}
.com_content cite,.com_content .build{border:1px #f39700 solid;background:#ffffcc;display:block;padding:10px;margin-bottom:8px;}
.com_content cite span{display:block;text-align:right;overflow:hidden;margin-bottom:4px;padding-right:10px;}
.com_content cite label{margin-right:10px;}
/*============fen ye==============*/
#fenye{padding-top:10px;padding:0 10px;line-height:18px;height:25px;}
#fenye a,#fenye span{display:inline-block;padding:2px 6px;}
#fenye a{border:1px #ccc solid; margin-left:5px;}
#fenye span{color:#ff0084;}
/*============category category_show ===========*/
#category dl{border-style:dashed;background:#f1ffcd;}
.category dl{padding:10px 10px 0 10px; line-height:20px;}
.category dt{display:block;clear:both;font-size:14px;font-weight:bold;padding-bottom:4px;}
.category dd{float:left;margin-right:8px;}
.category dd a{display:block; white-space:nowrap;color:#666;}
.cate_show .col-dl{border-bottom:1px #ccc dashed;margin-top:12px;padding-bottom:8px;}
.cate_show dd a{margin:0 8px;}
/*============version===========*/
.version_title{display:block;padding:10px;background:#f7f7f7;}
.version table{margin-top:20px;border-bottom:1px #ccc dashed;}
.version table thead td{border:1px #ccc dashed;border-width:1px 0;}
.version table td{height:24px;padding:8px;line-height:20px;}
.version table td,.version table img{vertical-align:middle;}
.operation_btn .btn_inp{margin:10px 10px 0 0;}
/*===========search search_resoult_list===========*/
.adv_search{border:1px #ccc dashed;padding:10px;background:#f1ffcd;}
.adv_search ul{line-height:22px;}
.adv_search li{margin-left:85px; position:relative;padding:8px 0;}
.adv_search li span{display:block;position:absolute;left:-65px;width:60px;}
.adv_search li label,.adv_search li select{margin-right:8px;}
.adv_search li label input{margin-right:4px;}
.resoult_total{padding:6px 12px; margin:8px 0; background:#f1ffcd; font-size:14px;}
.resoult_list{line-height:22px;}
.resoult_list dd a{margin:0 8px;}
.resoult_list dt a{ font-size:14px; font-weight:700; color:#F36;}
/*==========login  register===========*/
.success{padding:100px 220px;}
.success dl{background:url(success.gif) no-repeat left top;color:#666;padding-left:100px;line-height:24px;zoom:1;}
.success dt{padding-bottom:4px;margin-bottom:4px;border-bottom:1px #ccc solid;}
.register{margin-top:20px; background:#f1ffcd; padding:20px; overflow:auto; _height:400px;}
.reg-r{width:440px;height:345px;background:#e8e8e8;margin:3px 0 0 3px; position:relative;}
.reg_main{position:absolute;top:-4px;left:-4px;width:438px;height:343px;background:#f7f7f7;border:1px #ccc solid;}
.reg_main h2{border-bottom:1px #ccc solid;height:27px;line-height:27px;padding:0 12px;}
.reg_main li{margin-left:70px;padding:10px 0; text-align:left; line-height:20px; position:relative;}
.reg_main li span{ float:left;left:-60px; width:60px; top:14px; position:absolute; text-align:right;}
.reg_main li .inp_txt{width:100px;}
.reg_main li input{margin-right:8px; vertical-align:middle;}
.reg_main li label{ font-family:瀹嬩綋, Arial, Helvetica, sans-serif;}
.register .col-dl{float:left;width:400px;margin-top:20px;margin-bottom:10px; line-height:22px; }
/*==========personal Space===========*/
.gr dd a{margin:0 6px;}
.gr_info dd { line-height:22px;}
.gr_info dd.title { padding:10px 0; text-align:center;}
.gr_info dd.h2{ text-align:center;}
.gr_info .a-img2 {width:94px;overflow:hidden; display:inline-block;}
.gr_info .a-img2 img{width:90px;}
.gr_info dd img{vertical-align:middle;margin-right:4px;}
/*==========Ranking list===========*/
.sidebar li{ height:36px; line-height:36px; margin-bottom:4px;}
.sidebar li img{ vertical-align:middle; margin-right:4px; width:16px; overflow:hidden;}
.bang_main .col-dl{margin:10px 20px;}
.bang_main dt{font-size:12px;border-bottom:1px #666 solid;padding:6px 0  0;}
.bang_main dl .l{width:500px;margin-right:10px;}
.bang_main dd {border-bottom:1px #ccc dashed;padding-top:10px;padding:10px 0 2px 0;overflow:hidden;zoom:1;}
.bang_main dd a{float:left;}
.bang_main dd a.l img{ vertical-align:middle; margin-right:4px;}
/*==========gl_manage===========*/
.gl_manage h2{ cursor:pointer;}
.gl_manage_main h2{ padding:0 0 16px 0;margin-bottom:20px;  background:url(gl_manage/gl_man_main_bg.gif) repeat-x left bottom;}
.gl_manage_main .col-dl{position:relative; margin-left:130px; line-height:25px;overflow:visible;}
.gl_manage_main .col-dl .a-img2{ position:absolute;left:-110px;top:0;}
.gl_manage_main .col-dl dd{	vertical-align:middle;}
/*--GL info_set and  Gl_info--*/
.gl_manage_main{line-height:22px;}
.gl_manage_main .col-ul li{position:relative; margin-left:110px;padding:4px 0;}
.gl_manage_main .col-ul li span{ position:absolute;top:4px;left:-100px;display:block; width:90px;text-align:right;}
.gl_manage_main li label input{margin-right:4px;}
.gl_manage_main .inp_txt{height:16px;line-height:16px;}
.info_other {margin:30px 0 0 130px;line-height:22px;}
.info_other h3{padding:8px 0 4px 0;border-bottom-style:dashed;margin-bottom:10px;}
.info_other .table,.message{width:100%;}
.info_other .table td,.message td{height:24px;}
/*--change photo--*/
.up_load{float:left;margin:16px 0 0 20px;}
.file{height:30px;line-height:30px;padding:2px;width:220px;}
:root .file{height:28px;line-height:28px;padding:2px;width:190px;}
/*--cao gao xiang,inbox,sent--*/
.message td{border-bottom:1px #ccc dashed;padding:4px 8px;height:22px;line-height:22px; vertical-align:top;}
.message_tip{float:right;padding:0 5px 0 23px;background:url(draft.jpg) no-repeat scroll left 0;}
#send  li{margin-left:60px;}
#send  li span{left:-50px; width:40px;}
/*--ji fen huan li--*/
.jfhl_theme{margin:1px;background:#f6f6f6;padding:10px;}
.jfhl_theme p{width:210px;}
.jfhl_theme img{margin:30px 0 0 70px;}
.redeed_present{padding-bottom:20px;}
.redeed_present li{float:left;width:112px;margin:10px 15px 20px 10px;clear:none;display:inline;}
.redeed_present .a-img1,.lp_info .a-img1{width:110px;height:110px;*font-size:96px;overflow:hidden;}
.redeed_present p{text-align:center;line-height:18px;padding:6px 0;}
.redeed_present p a{display:block;height:18px;overflow:hidden;}
.redeem{display:block; text-align:center;}
#zxdtold p span{word-break:break-all;}
/*--dui huan tanchuang-*/
#tj_lpdh{width:530px;left:100px;top:200px;}
.lp_info{margin:10px 10px 0;border-bottom:1px #ccc dashed;}
.lp_img_turn{width:112px;margin-right:20px;}
.lp_info p{position:relative;padding:10px 12px;}
.oth_img{width:38px;height:38px;border:1px #ccc solid;}
.prev,.next{width:10px;height:40px;position:absolute;top:10px;}
.prev{background:url(jfhl/Prev.gif) no-repeat left center;left:0;}
.next{background:url(jfhl/next.gif) no-repeat right center;right:0;}
.lp_info ul{margin-left:134px;}
.real_info{	margin:0 10px;}
.real_info li{padding:10px 0;margin-left:110px;}
.real_info li span{top:10px;left:-110px;width:100px; text-align:right;display:block;}
.real_info .inp_txt{vertical-align:middle;}
/*--tupian baike--*/
.s_result{ height:660px; padding:12px 16px;background:#f1ffcd;border:1px #ccc solid;line-height:22px; color:#333;}
.theme_img{margin:0 auto;width:162px;padding:40px 0 40px 0;display:block;}
.theme_img .a-img1{width:160px;height:122px;border:0;*font-size:106px;}
.dt_list {line-height:22px;overflow:hidden;padding-bottom:20px;}
.dt_list li{float:left;position:relative;width:180px;height:40px;margin:0 10px 12px 10px;padding-top:160px;text-align:center;}
.dt_element{position:absolute;bottom:45px;left:0;width:170px;padding:5px;}
.dt_element a{display:block;}
.dt_list p{overflow:hidden;}
.dt_list p span{margin-right:12px;}
.tpbk_sideba .columns .col-h2{border-bottom:0;}
.tpbk_img_list li{ display:inline; float:left;width:156px;margin:10px 7px;}
.tpbk_img_list li label{width:140px;height:140px; background:#f7f7f7;padding:8px; display:block;border:1px #e1e1e1 solid;margin-bottom:10px;}
.tpbk_img_list li label .a-img1{width:140px;height:140px;*font-size:116px;border:0;}
.tpbk_img_list li .a-c{display:block;margin-bottom:4px;height:18px;line-height18px;overflow:hidden;}
/*--veiw--*/

.view_img{position:relative;height:85px;padding:5px 40px;border:1px #d9d9d9 solid;background:#eaeaea;}
.view_img ul{padding:9px 5px;height:64px;overflow:hidden;}
.view_img li{float:left;margin:0 5px 10px 0;}
.view_img li .a-img1 {width:64px;height:64px;background:#fff;*font-size:55px;}
.view_img li .a-img1 img{padding:2px;}
.view_n,.view_p{position:absolute;top:5px;}
.view_p{left:5px;}
.view_n{right:5px;}
.tpbk_content {margin:1px 0 10px;padding:0 5px;}
.tpbk_content td{padding:8px 5px 4px 5px;background:#fff;border-bottom:1px #ccc dashed;}
.tpbk_content thead td{background:#f6f6f6;line-height:20px;padding:4px 5px;}
.tupian_info {border:1px #ccc solid;}
.tupian_info td{padding:4px 8px;border:1px #ccc solid;}
.view_datu {margin:30px auto 10px auto;}
.view_datu img{max-width:930px;}
.prev_and_next a{border:1px #ccc solid;}

.tupk_view #fenye{height:24px;}
/*--dai wan shan ci tiao lei biao--*/
.dws_list { line-height:22px;}
.dws_list li{float:left;width:22%;margin:10px 2% 10px 1%;height:22px;overflow:hidden;}
.dws_h2{font-size:16px;padding:10px 10px 0px;color:#0268cd;}
/*--chuang jian ci tiao--*/
.cre_main,.cre_r{margin-top:0px;}
.cre_r li { line-height:22px;}
.cre_main .ul_l_s li{margin:4px 0 4px 180px;}
.cre_main .inp_txt{	height:18px;}
.cre_main .ul_l_s li span{left:-80px;width:80px;}
.cre_main .ul_l_s li a{margin-right:8px;}
.chose{background:url(btn_bg.gif) no-repeat left top;width:139px; height:21px;border:0;}

.cre_search{ margin:10px 10px 20px 10px;border-bottom:1px #ccc dashed;padding-bottom:8px; background-color:#ffc;}
/*--chose categroy tan chuang--*/
.chose_cate {width:650px;padding:10px 0;border:1px #e6e6ee solid; background:#fff url(chose_cate_bg.gif) no-repeat right bottom;position:absolute; z-index:100;height:357px}
.chose_cate h3{border-bottom:1px #ccc dashed;margin:0 10px;padding-bottom:4px;margin-bottom:10px;}
.chose_cate dl{clear:both;padding:8px 0;}
.chose_cate label{margin-right:4px;color:#0169cc;}
.chose_cate label input,.chose_cate img{ margin-right:4px;cursor:pointer;}
.chose_cate dt{margin-bottom:4px;height:22px;color:#474747;}
.chose_cate dd{float:left;padding:4px 0;margin-right:10px; white-space:nowrap; zoom:1;}
.chose_cate p.a-c{margin:0 12px;border-top:1px #ccc dashed;padding-top:6px;}
.chose_cate p.a-r{ overflow:hidden;clear:both;zoom:1;}
/*--viewdoc tan chuang edit category--*/
.chose_cate_doc{position:static;}
/*--get password--*/
.reg-back{clear:both;padding-top:30px;margin:0 auto;}
.reg-bd {background:#F3F3F3;clear:both;line-height:20px;margin:5px auto 50px;padding:30px 20px 20px 30px;width:490px;}
.reg-bd li{margin-left:100px;}
.reg-bd li span{left:-90px;width:75px; text-align:right;}
/*--reference--*/
.reference {line-height:18px;background:#F7F7F7;padding:8px 5px;overflow:hidden;}
.reference dt {font-weight:bold;}
.reference dd { padding:10px 0 0 1em;}
.reference input{border:0;color:#999;width:300px;background:#F7F7F7;}
.reference dd span {width:25px;margin-right:4px;}

