{template header}
<div class="hd_map"><a href="{$setting[site_url]}" class="home">{$setting[site_name]}</a>&gt;&gt;<a href="{url category}"> {lang wikiCategory} </a>
<!--{loop $category['navigation'] $key $navigation}-->&gt;&gt; 
<!--{if $key<count($category['navigation'])-1}--><a href="{url category-view-$navigation['cid']}"> {$navigation['name']} </a><!--{else}--> {$navigation['name']} <!--{/if}-->
<!--{/loop}-->
</div>
<div class="r w-710 o-v col02 cate_show">
  <h2><strong>{lang categoryHaveFront}{$count}{lang categoryHaveBack}</strong><strong><a href="{url doc-create-$category['cid']}" target="_blank" class="m-l8">{lang createCategoryDoc}</a></strong>"{$category['name']}" {lang categoryDoc}</h2>
  <!--{if count($list)>0}-->
  <!--{loop $list $key $doc}-->
  <dl class="col-dl bgborder">
    <dt class="h2"><a href="{url doc-view-$doc['did']}" >{$doc['title']}</a></dt>
    <dd><span>{lang creator}:</span><a href="{url user-space-$doc['authorid']}" >{$doc['author']}</a><span>{lang createTime}:</span>{$doc['time']}</dd>
    <dd><span>{lang tag}:</span><!--{loop $doc['tag'] $key $tag}--> <a href="{url search-tag-{eval echo urlencode($tag)}}" >{$tag}</a> <!--{/loop}--></dd>
    <dd>
      <p><span>{lang summary}:</span>{$doc['summary']}<a href="{url doc-view-$doc['did']}">[{lang readFullText}:]</a></p>
    </dd>
    <dd><span>{lang edit}:</span>{$doc['edits']}{lang times}| <span>{lang view}:</span>{$doc['views']}{lang times}</dd>
  </dl>
  <!--{/loop}-->
  <!--{/if}-->
  <div id="fenye" class="m-t10">{$departstr}</div>
</div>

<div class="l w-238 spa10">
  <div class="col01">
    <h2>{$category['name']}</h2>
	<!--{loop $subcategory $key $parent}-->
    <ul>
      <li class="list03"><a href="{url category-view-$parent['parent']['cid']}" >{$parent['parent']['name']}</a></li>
	  <!--{loop $parent['child'] $value $child}-->
      <li class="list03"><a href="{url category-view-$child['cid']}" >{$child['name']}</a></li>
	  <!--{/loop}-->
    </ul>
	<!--{/loop}-->
  </div>
</div>
{template footer}