{template header}
<div id="category" class="l w-710 o-v category">
	<div class="hd_map"><a href="{$setting[site_url]}" class="home">{$setting[site_name]}</a> &gt;&gt;{lang wikiCategory}</div>

        <!--{loop $subcategory  $category}-->
    <div class="col01 spa5">        
          <h2 class="c-b"><a href="{url category-view-$category['parent']['cid']}" >{$category['parent']['name']}</a></h2>
          <ul>
          <!--{if isset($category['child'])}-->
          <!--{loop $category['child']  $child}--><li class="list03"><a href="{url category-view-$child['cid']}" class="blue">{$child['name']}</a></li><!--{/loop}-->
          <!--{/if}-->
          </ul>
    </div>          
        <!--{/loop}-->

</div>
<div class="r w-245 spa10">
	<div class="col03 i6-ff spa5">
    	<div class="up"></div>
        <div class="content">
            <h3>{lang hotTag}</h3>
            <ul class="col-ul list-s">
            <!--{loop $hottag $tag}-->
                <!--{if $tag['tagcolor']=='red'}-->
                <li class="list03 $tag['tagcolor']"><a href="{url search-tag-{eval echo urlencode($tag['tagname'])}}" >{$tag['tagname']}</a></li>
                <!--{else}-->
                <li class="list03"><a href="{url search-tag-{eval echo urlencode($tag['tagname'])}}" >{$tag['tagname']}</a></li>
                <!--{/if}-->
            <!--{/loop}-->
            </ul>
        </div>
        <div class="bom"></div>
    </div>	
	<!--ad start -->
	<div class="ad" id="advlist_7">
	<!--{if isset($advlist[7]) && isset($setting[advmode]) && '1'==$setting[advmode]}-->
	{$advlist[7][code]}
	<!--{/if}-->
	</div>
	<!--ad end -->		
	<div class="col03 i6-ff spa5">
    	<div class="up"></div>
        <div class="content">
            <h3>{lang cooperatedoc}</h3>
            <ul>
            <!--{loop $cooperatedocs $cooperatedoc}-->
                <li class="list02"><a href="index.php?doc-innerlink-{eval echo urlencode($cooperatedoc)}" target="_blank">$cooperatedoc</a></li>
            <!--{/loop}-->
            </ul>
        </div>
        <div class="bom"></div>
    </div>    
</div>
{template footer}