</div>
<div id="footad">
</div>
</div>
</div>
<div id="footer">
<p id="footer-p">Powered by <span><a href="http://kaiyuan.hudong.com" target="_blank">HDWiKi</a>  V {HDWIKI_VERSION} </span> &copy;2003-2010 <a href="/" target="_blank" class="link_black">阳光志愿者 让教育成就梦想 </a>
<br/>
<label>Processed in {$runtime} second(s), {$querynum} queries.</label> </p>
<span class="r"> {lang footerTip1}<!--{if ($setting[time_offset]>0)}-->+<!--{/if}-->{$setting[time_offset]}  {lang footerTip2} {$timenow} <a href="http://www.miibeian.gov.cn/" target="_blank" class="link_black">{$setting[site_icp]} </a></span>
<ul id="nav_bot" class="link_white r">
	<li><a href="{$setting['seo_prefix']}user-clearcookies{$setting['seo_suffix']}" >{lang clearCookies}</a></li>
	<li><a href="{$setting['seo_prefix']}doc-innerlink-{eval echo urlencode('{lang contactus}')}">{lang contactus}</a></li>
	<li  <!--{if !$setting[style_user_select]}-->class="bg_no"<!--{/if}--> ><a href="javascript:void(0);" onclick="window.scrollTo(0,0);" title="TOP">TOP</a></li>
	<!--{if $setting[style_user_select]}-->
		<li class="bg_no">
		<select name="style" onchange="javascript:window.location='{$setting[seo_prefix]}index-setstyle-'+this.value+'{$setting[seo_suffix]}'">
		<!--{loop $stylelist $style1}-->
		<option value="{$style1[path]}" <!--{if ($style==$style1[path])}-->selected<!--{/if}--> >{$style1[name]}</option>
		<!--{/loop}--></select>
		</li>
	<!--{/if}-->
</ul>
</div>
</body>
</html>
