<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>LEAD阳光 活动签到</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/style.css"></head>

<body>
	<header>
		<div class="logo"></div>
		<div class="action-nav"><a href="login.html" class="logout">退出 <i class="icon-off icon-white"></i></a></div>
	</header>
		<div class="main">
			<div class="activity">
				<h2>【活动召集】2013年1月27日计算机组例会召集</h2>
				<div class="activity-checkin">
					<dl class="checkin-item clearfix">
						<dt class="checkin-item-title"><i class="icon-user"></i> 立夏：</dt>
						<dd class="checkin-item-status">
							<label class="checkin-btn">
							  <input type="radio" name="optionsRadios3" id="optionsRadios3" value="">
							  已参加
							</label>
							<label class="checkin-btn">
							  <input type="radio" name="optionsRadios3" id="optionsRadios3" value="" checked>
							  待确认
							</label>
							<label class="checkin-btn">
							  <input type="radio" name="optionsRadios3" id="optionsRadios3" value="">
							  未参加
							</label>
						</dd>
						<dd class=spec>
							<!-- <a href="" class="spec-more"></a> -->
							<dl>
								<dt>分工：</dt>
								<dd>
									<label class="spec-btn">
									  <input type="radio" name="optionsRadios4" id="optionsRadios4" value="">
									  主讲
									</label>
									<label class="spec-btn">
									  <input type="radio" name="optionsRadios4" id="optionsRadios4" value=>
									  助教
									</label>
									<label class="spec-btn">
									  <input type="radio" name="optionsRadios4" id="optionsRadios4" value="">
									  旁听
									</label>
								</dd>
							</dl>
						</dd>
					</dl>
					<dl class="checkin-item clearfix">
						<dt class="checkin-item-title"><i class="icon-user"></i> tracybryantliao</dt>
						<dd>
							<label class="checkin-btn">
							  <input type="radio" name="optionsRadios1" id="optionsRadios1" value="">
							  已参加
							</label>
							<label class="checkin-btn">
							  <input type="radio" name="optionsRadios1" id="optionsRadios1" value="" checked>
							  待确认
							</label>
							<label class="checkin-btn">
							  <input type="radio" name="optionsRadios1" id="optionsRadios1" value="">
							  未参加
							</label>
						</dd>
						<dd class=spec>
							<!-- <a href="" class="spec-more"></a> -->
							<dl>
								<dt>分工：</dt>
								<dd>
									<label class="spec-btn">
									  <input type="radio" name="optionsRadios4" id="optionsRadios4" value="">
									  主讲
									</label>
									<label class="spec-btn">
									  <input type="radio" name="optionsRadios4" id="optionsRadios4" value=>
									  助教
									</label>
									<label class="spec-btn">
									  <input type="radio" name="optionsRadios4" id="optionsRadios4" value="">
									  旁听
									</label>
								</dd>
							</dl>
						</dd>
					</dl>
				</div>
			</div>
			
		</div>

</body>
</html>