<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>LEAD阳光 活动列表</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/style.css"></head>

<body>
	<header>
		<div class="logo"></div>
		<div class="action-nav"><a href="login.html" class="logout">退出 <i class="icon-off icon-white"></i></a></div>
	</header>
		<div class="main">
			<div class="activity-list">
				<ul>
					<li><a href="">【活动召集】1月27日英语组鸟巢冰雪节！欢迎串门！[北京]</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a></span>
					</li>
					<li><a href="">【活动召集】思享会-第三期“你期待一个怎么样的阳光？”</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a>
					</li>
					<li><a href="single.html">【活动召集】2013年1月27日计算机组例会召集</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a>
					</li>
					<li><a href="">【活动召集】思享会-第二期-瑟谷模式内核的社区中心构想</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a>
					</li>
					<li><a href="">【活动召集】后春晚时代——摄制组工作及后期人员召集</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a>
					</li>
				</ul>
			</div>
			<div class="activity-list moderator-on">
				<ul>
					<li><a href="">【活动召集】1月27日英语组鸟巢冰雪节！欢迎串门！[北京]</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a></span>
					</li>
					<li><a href="">【活动召集】思享会-第三期“你期待一个怎么样的阳光？”</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a>
					</li>
					<li><a href="single.html">【活动召集】2013年1月27日计算机组例会召集</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a>
					</li>
					<li><a href="">【活动召集】思享会-第二期-瑟谷模式内核的社区中心构想</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a>
					</li>
					<li><a href="">【活动召集】后春晚时代——摄制组工作及后期人员召集</a>
						<span class="list-checkin"><a href="" class="btn btn-primary">签到</a>
					</li>
				</ul>
			</div>
		</div>

</body>
</html>