<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>LEAD阳光 活动登录</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/style.css"></head>

<body>
	<header>
		<div class="logo"></div>
	</header>
	<div class="main">
		<form class="form-signin">
			<input type="text" class="input-block-level" placeholder="用户名">
			<input type="password" class="input-block-level" placeholder="密码">
			<label class="checkbox">
				<input type="checkbox" value="remember-me">记住我</label>
			<div class="btn-group">
				<button class="btn btn-large btn-success" type="submit">登录</button>
			</div>
		</form>
	</div>
</body>
</html>