<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>LEAD阳光 活动详情</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-responsive.css">
	<link rel="stylesheet" href="css/style.css"></head>

<body>
	<header>
		<div class="logo"></div>
		<div class="action-nav"><a href="login.html" class="logout">退出 <i class="icon-off icon-white"></i></a></div>
	</header>
		<div class="main">
			<div class="activity">
				<h2>【活动召集】2013年1月27日计算机组例会召集</h2>
				<div class="activity-detail">
					<table class="table table-bordered">
						<tr>
							<th>活动时间</th>
							<td></td>
						</tr>
						<tr>
							<th>召集人</th>
							<td></td>
						</tr>
						<tr>
							<th>召集人电话</th>
							<td>13800138000</td>
						</tr>
						<tr>
							<th>已通过人员</th>
							<td>yuyifriends , jemmun , 面包 , tracybryantliao , 婷子 , 奇峰 , bingguo_411 , 蚂蚁 , 旅行吧 , chaosconst , 月光骑士 , giswt , tianlian , 立夏</td>
						</tr>
					</table>
					<a href="checkin.html" class="btn btn-primary btn-block btn-large">签到</a>
				</div>
				<br />
大家好，秋季学期热热闹闹结束啦，春晚也疯狂的玩过啦，又到了寒假总结沉淀的阶段啦～<br />
为了不让我们秋季学期精心打造的故事书课程、打字训练、怀柔趣味课程默默的躺在论坛某个角落里不再被人提起，我们利用寒假的时间好好把这些内容整理一下吧～<br />
<br />
定于1月27日（周日）下午14：00-15：50召开计算机组例会，主要内容如下：<br />
<br />
1、<strong><font color="#ff0000">确定寒假关于课程教案整理的工作计划及分工</font></strong>（30‘）<br />
2、确定新人引导专员，和引导方式（15’）<br />
3、确定下学期计划开设的项目点，配备主要人员（10‘）<br />
<br />
4、畅所欲言上学期各自的感受，包括上课、交流、试讲等各个环节，好的方面，不好的方面，自己的困惑，自己来阳光的期望等（50’）. 说出最真实的看法，为未来改进指出方向<br />
<br />
欢迎新老志愿者参加～<br />
<br />
<br />
<font size="5"><font color="red">会议地点有变化：</font></font>SPR 咖啡（金澳国际大厦店）马甸桥附近，<br />
地铁：10号线，健德门站西南口（D口）出，往南，穿过马甸公园，到金澳国际大厦（国家质检总局南边）。咖啡厅在写字楼一层的西面<font size="5"><font color="#ff0000">费用：</font></font>咖啡馆费用为学生10元，其他人20元<br />
<br />
联系人：立夏 I52IO6O45IO<br />
<br />
<br />
<br />
<br />
<br />
<img src="https://dgwtsq.bay.livefilestore.com/y1phuDVk_-PvkQfP2l3MpXc5XSougIaYI10TlJAgoeK2cqk7ZJ6Gh0ySTJAqvTo-2tWkhBcsMyfmhF1sR7-JaYP2UU3hCqId4Qq/SPR%E2%80%94%E2%80%94%E5%9C%B0%E9%93%81_%E6%90%9C%E7%8B%97.jpg?psid=1" onload="thumbImg(this)" alt="" />

			</div>
			
		</div>

</body>
</html>