{template header}
<div class="w-710">
	<div class="hd_map">
	<a href="{$setting[site_url]}">{$setting[site_name]}</a> &gt;&gt;{lang wikiCategory}
	</div>
    
	<div id="category">
        <!--{loop $subcategory  $category}-->
        <dl class="columns i6-ff">
          <dt class="col-h2"><a href="{url category-view-$category['parent']['cid']}" class="red" >{$category['parent']['name']}</a></dt>
          <!--{if isset($category['child'])}-->
          <!--{loop $category['child']  $child}--><dd><a href="{url category-view-$child['cid']}">{$child['name']}</a></dd><!--{/loop}-->
         <!--{/if}-->
        </dl>
        <!--{/loop}-->
    </div>    
</div>
<div class="leftbox">
    <div class="leftcon">
    	<div class="leftbox2 i6-ff m-b8">
            <h2>{lang hotTag}</h2>
            <ul class="col-ul list-s font-14">
            <!--{loop $hottag $tag}-->
                <!--{if $tag['tagcolor']=='red'}-->
                <li class="$tag['tagcolor']"><a href="{url search-tag-{eval echo urlencode($tag['tagname'])}}" >{$tag['tagname']}</a></li>
                <!--{else}-->
                <li><a href="{url search-tag-{eval echo urlencode($tag['tagname'])}}" >{$tag['tagname']}</a></li>
                <!--{/if}-->
            <!--{/loop}-->
            </ul>
        </div>
        
        <div class="leftbox2 i6-ff m-b8">
            <h2>{lang cooperatedoc}</h2>
            <ul class="col-ul list2 font-14">
            <!--{loop $cooperatedocs $cooperatedoc}-->
                <li><a href="index.php?doc-innerlink-{eval echo urlencode($cooperatedoc)}" target="_blank">$cooperatedoc</a></li>
            <!--{/loop}-->
            </ul>
        </div>
        
        <!--ad start -->
        <div class="ad" id="advlist_7">
        <!--{if isset($advlist[7]) && isset($setting[advmode]) && '1'==$setting[advmode]}-->
        {$advlist[7][code]}
        <!--{/if}-->
        </div>
        <!--ad end -->
    </div>
    <div class="leftbom"></div>
</div>
{template footer}