#html{background:transparent url() repeat-x left top;}
#html body{width:950px;}
#html .bor_b-ccc,#html .col-h2{border-bottom:1px #ccc solid;}
#html .bor-ccc,#html .columns,#html .bor-c_dl dl{border:1px #60bf00 solid;}
#html .inp_txt{border:1px #7f9db9 solid;color:#666;}
#html a{color:#60bf00;}
#html a:hover{color:#ff9f40;}
#html .link_orange a{color:#ff3300; text-decoration:none;}
#html .link_orange a:hover{color:#ff3300;text-decoration:underline;}
#html .col-h2{height:21px;line-height:21px;background:#60bf00 url(col_h2_bg.gif) repeat-x left top;}