{template header}
<div class="w-710">
	<p class="a-r resoult_total">搜索“<span class="red bold">{$searchtext}</span>”找到相关内容{$count}篇，用时{$runtime}秒</p>
    
    <div class="columns o-v p-b10 resoult_list">	
	
		<!--{if $synonym}-->
				<div class="p-10 bor-ccc cre_search">
				"<span>{$synonym['srctitle']}</span>"{lang synonymis}"<span class="red">{$synonym['desttitle']}</span>"{lang synonymTitle}<a class="link_blue m-lr8" href="{url doc-innerlink-$synonym['linktitle']}">{lang synonymClickhere}</a>{lang synonymDetail}
				</div>
		<!--{else}-->
			<!--{if $docnoexit}-->
			<div class="p-10 bor-ccc cre_search">
			<form name="createform" method="post" action="{url doc-create}">
				<dl class="ul_l_s">
					<dd class="create">{lang notExistTipLeft}<span style="color:red;"><strong>{$title}</strong></span>{lang notExistTip}
						<input name="title" type="hidden" value="{$title}"/>
						<input name="create" type="submit" value="{lang createDoc}" class="btn_inp v-m"/>
						<br />
						<!--{if $search_tip_switch=='1' }-->
						{lang searchConsultHudong} <a href="http://fun.hudong.com/edmclick.do?senderid=91&pici=19&nexturl=http://www.hudong.com/wiki/{$searchword}" target="_blank">{$title}</a>
						<!--{/if}-->
					</dd>
				</dl>
			</form>
			</div>
			<!--{/if}-->
		<!--{/if}-->
        <!--{if empty($list)}-->
        <dl class="col-dl">{lang searchTip}</dl>
        <!--{else}-->
        <!--{loop $list $key $doc}-->
        <dl class="col-dl">
        <dt class="h2"><a href="{url doc-view-$doc['did']}" target="_blank">{$doc['title']}</a></dt>
        <dd class="gray ">词条创建者:<a href="{url user-space-$doc['authorid']}" target="_blank">{$doc['author']}</a>创建时间:{$doc['time']} </dd>
        <dd><span class="bold">标签:</span>
            <!--{loop $doc['tag'] $key $tag}-->
            <a href="{url search-tag-{eval echo urlencode($tag)}}" target="_self">{$tag}</a>
            <!--{/loop}-->
        </dd>
        <dd><p><span class="bold">摘要:</span>{$doc['summary']}<a href="{url doc-view-$doc['did']}" >[阅读全文] </a></p></dd>
        <dd class="gray ">编辑:{$doc['edits']}次| 浏览:{$doc['views']}次</dd>
        </dl>
        <!--{/loop}-->
        <div id="fenye" class="m-t10 a-r">{$departstr}</div>
        <!--{/if}-->
    </div>
</div>
<div class="leftbox">
    <div class="leftcon">
    	<div class="leftbox2 i6-ff letter m-b8">
            <h2>按字母顺序浏览</h2>
            <ul class="col-ul list-s">
                <li><a href="index.php?list-letter-A" >A</a></li>
                <li><a href="index.php?list-letter-B" >B</a></li>
                <li><a href="index.php?list-letter-C" >C</a></li>
                <li><a href="index.php?list-letter-D" >D</a></li>
                <li><a href="index.php?list-letter-E" >E</a></li>
                <li><a href="index.php?list-letter-F" >F</a></li>
                <li><a href="index.php?list-letter-G" >G</a></li>
                <li><a href="index.php?list-letter-H" >H</a></li>
                <li><a href="index.php?list-letter-I" >I</a></li>
                <li><a href="index.php?list-letter-J" >J</a></li>
                <li><a href="index.php?list-letter-K" >K</a></li>
                <li><a href="index.php?list-letter-L" >L</a></li>
                <li><a href="index.php?list-letter-M" >M</a></li>
                <li><a href="index.php?list-letter-N" >N</a></li>
                <li><a href="index.php?list-letter-O" >O</a></li>
                <li><a href="index.php?list-letter-P" >P</a></li>
                <li><a href="index.php?list-letter-Q" >Q</a></li>
                <li><a href="index.php?list-letter-R" >R</a></li>
                <li><a href="index.php?list-letter-S" >S</a></li>
                <li><a href="index.php?list-letter-T" >T</a></li>
                <li><a href="index.php?list-letter-U" >U</a></li>
                <li><a href="index.php?list-letter-V" >V</a></li>
                <li><a href="index.php?list-letter-W" >W</a></li>
                <li><a href="index.php?list-letter-X" >X</a></li>
                <li><a href="index.php?list-letter-Y" >Y</a></li>
                <li><a href="index.php?list-letter-Z" >Z</a></li>
                <li><a href="index.php?list-letter-0" >0</a></li>
                <li><a href="index.php?list-letter-1" >1</a></li>
                <li><a href="index.php?list-letter-2" >2</a></li>
                <li><a href="index.php?list-letter-3" >3</a></li>
                <li><a href="index.php?list-letter-4" >4</a></li>
                <li><a href="index.php?list-letter-5" >5</a></li>
                <li><a href="index.php?list-letter-6" >6</a></li>
                <li><a href="index.php?list-letter-7" >7</a></li>
                <li><a href="index.php?list-letter-8" >8</a></li>
                <li><a href="index.php?list-letter-9" >9</a></li>
                <li><a href="index.php?list-letter-*" >其他</a></li>
            </ul>
        </div>
        
        <div class="leftbox2 m-b8">
        	<h2></h2>
            <p class="a-c m-t10 col-p">更多详情，尽在<a href="http://www.hudong.com/wiki/{$searchtext}" target="_blank">互动百科</a></p>
            <p class="a-c m-t10 col-p">更多详情，尽在<a href="http://www.google.cn/search?hl=zh-CN&newwindow=1&q={eval echo urlencode({$searchtext})}&aq=f" target="_blank">谷歌搜索</a></p>
        </div>
    </div>
    <div class="leftbom"></div>
</div>
{template footer}
