html { background: #f3f3f3; }
#header { margin:20px auto 0 auto;  padding: 20px 0 0; width:960px; background: #FFF url({STYLEIMGDIR}/border_header2.png) no-repeat 0 0; }
#header h2{margin-left:30px; margin-top:4px;}
#umenu{right:24px;margin-top:2px;}
#header .wrap { height: 128px; background: #FFF url({STYLEIMGDIR}/bg_body.png) repeat-y 0 0;}
	#menu { right: 28px; height: 30px; width:900px; border:1px solid #ccc; background:url({STYLEIMGDIR}/bg_menu.png) repeat-x; }
		#menu li { height: 30px;}
		#menu a { border: none; height: 30px;line-height: 30px; color:#338800; font-weight:bold; text-shadow:0 1px #f3f3f3; }
 #menu a:hover{#FF6600;}	#menu li.current a{color:#FF6600;}	#menu a:hover{background:none;color:#FF6600;}
			#menu a.dropmenu { background-position: 100% -80px !important; }
		#menu li.current { }
			#menu li.current a { font-weight: 700; background:none; }
	#style_switch { padding: 14px 15px 0 0;margin-right:15px;}
#nav { margin: 0 auto; background: #FFF url({STYLEIMGDIR}/bg_body.png) repeat-y 0 0; text-indent: 2.5em; }
.shadowline { border-top-color: #D2DACE; }
.list th { background-image: url({STYLEIMGDIR}/forum.gif); }
	.list th.new { background-image: url({STYLEIMGDIR}/forum_new.gif); }
.postbtn { background-image:url({STYLEIMGDIR}/post.gif) !important; }
.replybtn { background-image:url({STYLEIMGDIR}/reply.gif) !important; }
#wrap{background: url({STYLEIMGDIR}/bg_body.png) repeat-y;}
#footer { padding: 0 0 20px 0; background: url({STYLEIMGDIR}/border_footer2.png) no-repeat 50% 100%; }
	#footer .wrap { background: #FFF url({STYLEIMGDIR}/bg_body.png) repeat-y 0 0; }
		#rightinfo { padding: 10px 30px;}
		#footlink { padding: 10px 30px;}
#ad_headerbanner { margin-top: 25px; }
.ad_footerbanner { width: {WRAPWIDTH}; background: {WRAPBG}; }
.ad_text, .ad_footerbanner { margin: 0 auto; }
.t_l, .t_c, .t_r, .m_l, .m_r, .b_l, .b_c, .b_r{background:#338800;} .with_side 
.content{padding:5px 0px 5px 30px;}
.content{padding:5px 30px;} 
.forumcontrol, .viewthread{width:900px; margin:0 auto;}
.with_side .main{width:720px;margin-left:0;}
.with_side .content{margin-left:0;}
.with_side .side{background:#eee; border:1px solid #ccc; margin-right:30px;_margin-right:15px;}
.searchform{width:730px; margin:0 auto; left:25px; background:#f3f3f3;}

.pbl_selected a, .pbl_selected a:hover{background:#338800;}

#online{padding-bottom:10px; border-bottom:1px solid #ccc;} #forumheader .modlink a{color:#338800;}#forumheader .modlink a:hover{color:#FF6600;}#sidebar_img{color:#338800;margin:0 30px 0 6px;} #nav, #nav a{color:#333;}.forumcontrol .modaction{background:#338800;}