{template header}
<script type="text/javascript" src="js/popWindow.js"></script>
<script type="text/javascript">
	var preid='';
	function showpm(id,type,isnew) {
		var row1=id+'-message';
		var row2=id+'-operation';
		var td=id+'-td';
		$('#'+row1).toggle();
		$('#'+row2).toggle();
		if(preid!='' && preid!=id){
			var row1=preid+'-message';
			var row2=preid+'-operation';
			$('#'+row1).css('display','none');
			$('#'+row2).css('display','none');
		}
		preid=id;
		if(type=='' && isnew==1){
			jQuery.ajax({
				url: "{$setting['seo_prefix']}pms-setread{$setting['seo_suffix']}",
				cache: false,
				dataType: "xml",
				type:"post",
				async:false, 
				data: {id:id},
				success: function(xml){
					message=xml.lastChild.firstChild.nodeValue;
					if(message){
					$('#'+td).css('fontWeight','normal');
					}
				}
			});
		}	
	}
	
	function deletepms(id,type){
		if (confirm('{lang remove}')){
			type=(type=='')?1:2;
			jQuery.ajax({
				url: "{$setting['seo_prefix']}pms-remove-1{$setting['seo_suffix']}",
				type:"post",
				data: {id:id,type:type}
			});
			row1=id+'-pms';
			row2=id+'-message';
			row3=id+'-operation';
			$('#'+row1).css('display','none');
			$('#'+row2).css('display','none');
			$('#'+row3).css('display','none');
			setPopMsg("{lang delpmssuccess}");	
		}
	}
	
	function delsubmit(){
		if($("input[name='checkid[]']:checked").length==0){
			alert('{lang selectdelpms}');
		}else{
			if (confirm('{lang remove}')){
				$("#form1").submit();
			}
		}
		return false;
	}
	
	function expand(id){
		if(id=='pro'){
			$("li.pro").toggle(); 
			
		}else{
			$('li.pms').toggle();
		}
	}
	
	function selectAll(){
		$("input[name='checkid[]']").attr('checked',$("input[name='checkbox']").attr('checked'));
	}
	
</script>
<div id="map" class="bor-gray-das warp"><a href="{$setting[site_url]}">{$setting[site_name]}</a> &gt;&gt;<a href="{$setting['seo_prefix']}pms{$setting['seo_suffix']}">{lang shortmessage}</a> &gt;&gt;{if $type=='outbox' }{lang outbox}{/if}{if $type=='drafts'}{lang draft}{/if}{if $type==''}{lang inbox}{/if}</div>
<ul id="nav-gr-info" class="link_gray nav-ul">
	<li onclick="expand('pro');" ><span class="parent" >{lang selfManage}</span></li>
	<li  class="pro"><a href="{$setting['seo_prefix']}user-profile{$setting['seo_suffix']}" >{lang profile}</a></li>
	<li class="pro"><a href="{$setting['seo_prefix']}user-editprofile{$setting['seo_suffix']}" target="_self">{lang editProfile}</a></li>
	<li class="pro"><a href="{$setting['seo_prefix']}user-editpass{$setting['seo_suffix']}" target="_self">{lang editPass}</a></li>
	<li class="pro"><a href="{$setting['seo_prefix']}user-editimage{$setting['seo_suffix']}" target="_self">{lang editImage}</a></li>
	<li ><span class="parent"  onclick="expand('pms');">{lang shortmessage}</span></li>
	<label id='pms'>
	<li class="pms"><a href="{$setting['seo_prefix']}pms-box{$setting['seo_suffix']}" {if $type==''} class="on" {/if}target="_self">{lang inbox}</a></li>
	<li class="pms"><a href="{$setting['seo_prefix']}pms-box-outbox{$setting['seo_suffix']}" {if $type=='outbox'} class="on" {/if} target="_self">{lang outbox}</a></li>
	<li class="pms"><a href="{$setting['seo_prefix']}pms-sendmessage{$setting['seo_suffix']}" target="_self">{lang sendmessage}</a></li>
	<li class="pms"><a href="{$setting['seo_prefix']}pms-box-drafts{$setting['seo_suffix']}" {if $type=='drafts'} class="on" {/if} target="_self">{lang draft}</a></li>
	<li class="pms bor_no" ><a href="{$setting['seo_prefix']}pms-blacklist{$setting['seo_suffix']}" target="_self" >{lang blacklist}</a></li>
	</label>
</ul>
<div id="info-basic" class="wid710 r mar-t8">
	<span class="info-basic">{if $type=='outbox' }{lang outbox}{/if}{if $type=='drafts'}{lang draft}{/if}{if $type==''}{lang inbox}{/if}{if $count>200 && $type==''} &nbsp;&nbsp;<span style="color:#FF0000">[{lang pmsfull}]</span>{/if}</span>
	<form  name="delform" id="form1" action="index.php?pms-remove-2-$type" method="post">
	<table cellpadding="0" cellspacing="0" class="table">
	<thead class="bold">
		<tr>
			<td style="width:25px;"><input name="checkbox" type="checkbox"  id="chkall" onclick="selectAll();"/></td>
			<td style="width:330px;">{lang searchTitle}</td>
			<td style="width:184px;"><!--{if $type==''}-->{lang from}<!--{else}-->{lang sendto}<!--{/if}--></td>
			<td style="width:130px;">{lang sendtime}</td>
		</tr>
	</thead>	
	{if $pmslist}
		{loop $pmslist $pms}
		<tr id="$pms[id]-pms" >
			<td><input name="checkid[]" type="checkbox" value="$pms[id]" /></td>
			<td {if $pms['new']==1 and $type==''}class="bold"{/if} id="$pms[id]-td" ><!--{if $type=='drafts'}--><a href="index.php?pms-sendmessage-drafts-$pms[id]" ><!--{else}--><a href="javascript:void(0)" onclick="showpm('$pms[id]','$type','$pms[new]');" ><!--{/if}-->$pms['subject']</a></td>
			<td><!--{if $type==''}-->$pms['from']<!--{else}-->$pms['username']<!--{/if}--></td>
			<td>$pms['time']</td>
		</tr >
		<tr  style="display:none;" id="$pms[id]-message">
			<td colspan="4"  >&nbsp;$pms[message]</td>
		</tr>
		<tr  style="display:none" id="$pms[id]-operation">
			<td colspan="4"  >&nbsp;{if $type==''}<a href='index.php?pms-sendmessage-reply-$pms[id]'>{lang reply}</a>&nbsp;&nbsp;{/if}<a href='index.php?pms-sendmessage-forward-$pms[id]'>{lang forward}</a>&nbsp;&nbsp;<a href='#' onclick="deletepms('$pms[id]','$type');">{lang commentDel}</a>&nbsp;&nbsp;<a href='#' onclick="showpm('$pms[id]');">{lang close}</a></td>
		</tr>
		{/loop}
	{/if}
	<tfoot>
		<tr>
			<td colspan="2"><a href="#" onclick='delsubmit();'>{lang pmsdel}</a></td>
			<td colspan="2">{if $type==''}<span>{lang pmstotal}$count{lang pmslimit} </span>{/if}</td>
		</tr>
	</tfoot>
	</table>
	<div id="fenye">{$departstr}</div>
	</form>
	<div id="pop" style="padding-bottom:10px;background-color:#FFFFFF;border:1px solid #AAAAAA;color:#777777;font-size:14px;text-align:left;display:none;position:absolute">
		<div id="poptitle" style="border-bottom:1px solid #DDDDDD; color:#333333; overflow:hidden; border-bottom:1px solid #DDDDDD; color:#FFFFFF; height:20px; overflow:hidden; padding-left:10px; padding-left:10px; 		background-color: #336699;">
			{lang commentManage}
		</div>
		<div>
			<div id="popmsg" align="center" style="clear: both;margin-top: 20px;"></div>
		</div>
	</div>
</div>
{template footer}