{template header}
<div class="a-r resoult_total">搜索“<span class="red bold">{$searchtext}</span>”找到相关内容{$count}篇，用时{$runtime}秒</div>
<div class="l w-710 o-v bggray resoult_list spa5">	
	<!--{if $synonym}-->
			<div class="p-10 bor-ccc cre_search">
			"<span>{$synonym['srctitle']}</span>"{lang synonymis}"<span class="red">{$synonym['desttitle']}</span>"{lang synonymTitle}<a class="link_blue m-lr8" href="{url doc-innerlink-$synonym['linktitle']}">{lang synonymClickhere}</a>{lang synonymDetail}
			</div>
	<!--{else}-->
		<!--{if $docnoexit}-->
		<div class="p-10 bor-ccc cre_search">
		<form name="createform" method="post" action="{url doc-create}">
			<dl class="ul_l_s">
				<dd class="create">{lang notExistTipLeft}<span style="color:red;"><strong>{$title}</strong></span>{lang notExistTip}
					<input name="title" type="hidden" value="{$title}"/>
					<input name="create" type="submit" value="{lang createDoc}" class="btn_inp v-m"/>
					<br />
					<!--{if $search_tip_switch=='1' }-->
					{lang searchConsultHudong} <a href="http://fun.hudong.com/edmclick.do?senderid=91&pici=19&nexturl=http://www.hudong.com/wiki/{$searchword}" target="_blank">{$title}</a>
					<!--{/if}-->
				</dd>
			</dl>
		</form>
		</div>
		<!--{/if}-->
	<!--{/if}-->
	<!--{if empty($list)}-->
	<dl class="col-dl">{lang searchTip}</dl>
	<!--{else}-->
	<!--{loop $list $key $doc}-->
	<dl class="col-dl">
	<dt class="h2"><a href="{url doc-view-$doc['did']}" target="_blank">{$doc['title']}</a></dt>
	<dd>词条创建者:<a href="{url user-space-$doc['authorid']}" target="_blank">{$doc['author']}</a>创建时间:{$doc['time']} </dd>
	<dd><strong class="blue">标签:</strong>
		<!--{loop $doc['tag'] $key $tag}-->
		<a href="{url search-tag-{eval echo urlencode($tag)}}" target="_self">{$tag}</a>
		<!--{/loop}-->
	</dd>
	<dd><p><strong class="blue">摘要:</strong>{$doc['summary']}<a class="blue" href="{url doc-view-$doc['did']}" >[阅读全文] </a></p></dd>
	<dd class="bgborder m-t8">编辑:{$doc['edits']}次| 浏览:{$doc['views']}次</dd>
	</dl>
	<!--{/loop}-->
	<div id="fenye" class="m-t10 a-r">{$departstr}</div>
	<!--{/if}-->
</div>

<div class="r w-245">
	<!--
	<div class="ad">
		<a href="#" target="_blank"><img src="style/default/ad-230.jpg"/></a>
	</div>
	-->
	<div class="col03">
    	<div class="up"></div>
        <div class="content">
            <p class="a-c m-t10 col-p" >
            更多详情，尽在<a class="blue" href="http://www.hudong.com/wiki/{$searchtext}" target="_blank">互动百科</a><br/>
            更多详情，尽在<a class="blue" href="http://www.google.cn/search?hl=zh-CN&newwindow=1&q={eval echo urlencode({$searchtext})}&aq=f" target="_blank">谷歌搜索</a>
            </p>
        </div>
        <div class="bom"></div>
	</div>
</div>
{template footer}
