<!--{eval}-->
if(!$_G['uid']) {
            showmessage('not_loggedin', '', array(), array('login' => true));
}
<!--{/eval}-->
<!--{template common/header}-->
<div id="ct" class="ct2 wp cl">
		<div class="sd" style="float:left;margin-top:3px;width:auto;">
			<!--{subtemplate home/space_userabout}-->
		<div class="mn" style="float:left;margin-left:10px;width:80%">
				<div class="bm_h">
					<strong>{lang memcp_profile}</strong>
				</div>

				<div class="bm_c">
				<!--{subtemplate home/space_profile_body}-->
				</div>
		</div>
</div>
<!--{template common/footer}-->
